---
import Layout from "$lib/layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "$lib/consts";
import { Badge } from "$lib/components/ui/badge";
import { Image } from "astro:assets";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import about1 from "$lib/images/about1.png";

import eventImage from "$lib/images/events/event.png";

import * as Card from "$lib/components/ui/card";

import { getCollection } from "astro:content";
const teams = await getCollection("teams");
import { Linkedin } from "lucide-svelte";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main class="main-content">
		<section class="pt-20 section">
			<div class="container">
				<div class="relative mb-12 text-center">
					<div
						class="absolute -top-16 left-0 w-48 h-48 rounded-lg overflow-hidden"
					>
						<Image
							src={about1}
							alt="Speaker 2"
							class="w-full h-auto"
						/>
					</div>

					<div
						class="absolute -top-16 right-0 w-64 h-64 rounded-lg overflow-hidden"
					>
						<Image
							src={about1}
							alt="Speaker 2"
							class="w-full h-auto"
						/>
					</div>
					<Badge
						class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
						variant="outline">About Improwised</Badge
					>
					<SectionTitle text="Our" primaryColorText="Story" />

					<p
						class="text-lg mb-10 max-w-2xl mx-auto max-md:text-center"
						data-aos="fade-up"
					>
						Software powers the world. We help teams launch,
						control, and measure their digital products more easily
						than ever.
					</p>
				</div>
				<div class="grid grid-cols-2 gap-8 px-12">
					<div
						class="bg-gradient-radial from-theme-green-200 absolute bottom-60 right-1/1 -z-10 h-96 w-96 blur-2xl"
					>
					</div>
					<div
						class="bg-gradient-radial from-theme-green-200 absolute bottom-40 right-1/2 -z-10 h-96 w-96 blur-2xl"
					>
					</div>

					<div class="rounded-lg overflow-hidden w-60">
						<Image
							src={about1}
							alt="Speaker 2"
							class="w-full h-auto"
						/>
					</div>
					<div class="rounded-lg overflow-hidden w-80">
						<Image
							src={about1}
							alt="Speaker 2"
							class="w-full h-auto"
						/>
					</div>
				</div>
			</div>
		</section>
		<section class="section aboutSection py-20">
			<div class="container mx-auto">
				<div
					class="relative flex flex-col lg:grid lg:grid-cols-2 lg:gap-x-16 pt-16"
				>
					<div
						class="bg-gradient-radial from-theme-green-200 absolute -top-10 right-1/3 -z-10 h-96 w-96 blur-2xl"
					>
					</div>
					<div
						class="bg-gradient-radial absolute right-1/3 top-10 -z-10 h-96 w-96 translate-x-2/3 from-theme-green-100 blur-2xl"
					>
					</div>

					<!-- Vertical Line -->
					<div
						class="absolute left-1/2 w-0.5 h-full transform -translate-x-1/2 border-l-2 border-dashed border-gray-300"
					>
					</div>
					<!-- Timeline Item 1 -->
					<div class="relative flex flex-col items-end py-20 pr-10">
						<div
							class="flex flex-col items-end space-y-12 text-right"
						>
							<div>
								<div
									class="mb-2 text-sm uppercase tracking-wide"
								>
									Est. In
								</div>

								<div
									class="mb-4 text-2xl font-medium [text-wrap:balance]"
								>
									2011
								</div>
							</div>
							<div>
								<div
									class="mb-2 text-sm uppercase tracking-wide"
								>
									Yearly Customer Rate
								</div>
								<div
									class="mb-4 text-2xl font-medium [text-wrap:balance]"
								>
									88%
								</div>
							</div>
							<div>
								<div
									class="mb-2 text-sm uppercase tracking-wide"
								>
									Node Under Management
								</div>
								<div
									class="mb-4 text-2xl font-medium [text-wrap:balance]"
								>
									50+
								</div>
							</div>
						</div>
					</div>

					<!-- Timeline Item 2 -->
					<div class="relative flex flex-col items-start py-20 pl-10">
						<div class="">
							<Badge
								class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
								variant="outline">About</Badge
							>
							<SectionTitle
								text="Who We"
								primaryColorText="Are?"
							/>
							<p
								class="mb-10 text-xl max-md:text-center"
								data-aos="fade-up"
							>
								Improwised Technologies is a leading IT company
								founded with a desire to become a top software
								development company in scalable, data-intensive,
								and cloud-native applications in 2011.
							</p>
							<p
								class="mb-10 text-xl max-md:text-center"
								data-aos="fade-up"
							>
								Since then, we have worked tirelessly to achieve
								our objective of giving our customers and their
								products an edge with our expertise in
								cutting-edge technologies.
							</p>
						</div>
					</div>

					<!-- Timeline Item 1 -->
					<div class="relative flex flex-col items-end py-20 pr-10">
						<!-- <Image
							src={eventImage2}
							alt="Event 1"
							class="rounded-lg shadow-lg"
						/> -->

						<div
							class="bg-gradient-radial-dark shadow-nav rounded-lg p-10 relative"
						>
							<div
								class="bg-white shadow-nav rounded-lg p-2.5 relative"
							>
								<div
									class="rounded-lg p-6 border border-dashed"
								>
									<h1 class="text-4xl font-bold">
										2008–2010
									</h1>
								</div>
							</div>
						</div>
					</div>

					<!-- Timeline Item 2 -->
					<div class="relative flex flex-col items-start py-20 pl-10">
						<div class="">
							<h2
								class="text-balance text-4xl font-bold text-neutral-800 dark:text-neutral-200"
							>
								We’re making waves in our industry.
							</h2>
							<p
								class="mt-1 text-lg text-neutral-700 dark:text-neutral-300"
							>
								We pride ourselves on being a trusted partner
								for developers. We enable customers to grow and
								succeed.We pride ourselves on being a trusted
								partner for developers. We enable customers to
								grow and succeed.We pride ourselves on being a
								trusted partner for developers. We enable
								customers to grow and succeed.
							</p>
						</div>
					</div>

					<!-- Timeline Item 3 -->
					<div class="relative flex flex-col items-end py-20 pr-10">
						<div class="text-right">
							<h2
								class="text-balance text-4xl font-bold text-neutral-800 dark:text-neutral-200"
							>
								We’re making waves in our industry.
							</h2>
							<p
								class="mt-1 text-lg text-neutral-700 dark:text-neutral-300"
							>
								We pride ourselves on being a trusted partner
								for developers. We enable customers to grow and
								succeed.We pride ourselves on being a trusted
								partner for developers. We enable customers to
								grow and succeed.We pride ourselves on being a
								trusted partner for developers. We enable
								customers to grow and succeed.
							</p>
						</div>
					</div>
					<div class="relative flex flex-col items-start py-20 pl-10">
						<div
							class="bg-gradient-radial-dark shadow-nav rounded-lg p-10 relative"
						>
							<div
								class="bg-white shadow-nav rounded-lg p-2.5 relative"
							>
								<div
									class="rounded-lg p-6 border border-dashed"
								>
									<h1 class="text-4xl font-bold">
										2008–2010
									</h1>
								</div>
							</div>
						</div>
					</div>

					<!-- Timeline Item 1 -->
					<div class="relative flex flex-col items-end py-20 pr-10">
						<div
							class="bg-gradient-radial-dark shadow-nav rounded-lg p-10 relative"
						>
							<div
								class="bg-white shadow-nav rounded-lg p-2.5 relative"
							>
								<div
									class="rounded-lg p-6 border border-dashed"
								>
									<h1 class="text-4xl font-bold">
										2008–2010
									</h1>
								</div>
							</div>
						</div>
					</div>

					<!-- Timeline Item 2 -->
					<div class="relative flex flex-col items-start py-20 pl-10">
						<div class="">
							<h2
								class="text-balance text-4xl font-bold text-neutral-800 dark:text-neutral-200"
							>
								We’re making waves in our industry.
							</h2>
							<p
								class="mt-1 text-lg text-neutral-700 dark:text-neutral-300"
							>
								We pride ourselves on being a trusted partner
								for developers. We enable customers to grow and
								succeed.We pride ourselves on being a trusted
								partner for developers. We enable customers to
								grow and succeed.We pride ourselves on being a
								trusted partner for developers. We enable
								customers to grow and succeed.
							</p>
						</div>
					</div>

					<!-- Moving Dot -->
					<!-- <div
							id="scroll-dot"
							class="absolute left-1/2 h-4 w-4 -translate-x-1/2 rounded-full bg-theme shadow-lg animate-bounce"
						> -->

					<div
						id="scroll-dot"
						class="left-1/2 bg-theme absolute h-4 w-4 top-0 -translate-x-1/2 rounded-full shadow-md"
					>
					</div>
				</div>
			</div>
		</section>

		<section class="section py-20">
			<div class="relative mb-16 text-center">
				<Badge
					class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
					variant="outline">Events</Badge
				>
				<SectionTitle class="" text="Insights & Inspiration" />

				<p
					class="text-lg mb-10 max-w-2xl mx-auto max-md:text-center"
					data-aos="fade-up"
				>
					Stay informed with expert insights, industry trends, and
					innovative ideas.
				</p>
			</div>
			<div class="relative overflow-x-clip">
				<div
					class="bg-gradient-radial absolute right-1/2 -top-20 -z-10 h-96 w-96 translate-x-2/3 from-theme-green-100 blur-2xl"
				>
				</div>
				<div
					class="bg-gradient-radial absolute right-1/2 top-20 -z-10 h-96 w-96 translate-x-2/3 from-theme-green-100 blur-2xl"
				>
				</div>
				<div
					class="bg-gradient-radial from-theme-green-200 absolute -top-10 right-1/3 -z-10 h-96 w-96 blur-2xl"
				>
				</div>
				<div
					class="bg-gradient-radial absolute right-1/3 top-10 -z-10 h-96 w-96 translate-x-2/3 from-theme-green-100 blur-2xl"
				>
				</div>
				<div class="group relative gap-10 overflow-hidden md:flex">
					<div
						class="eventsection1 flex w-auto min-w-full shrink-0 snap-x snap-mandatory flex-nowrap items-stretch gap-10 overflow-x-auto px-5 py-5"
					>
						<Card.Root
							class="eventCard1 relative bg-white md:motion-safe:animate-marquee-reverse flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
						>
							<div class="flex gap-6 p-6 rounded-lg shadow-md">
								<!-- Image Section -->
								<div class="shrink-0">
									<Image
										src={eventImage}
										class="h-60 w-60 object-cover"
										alt="cubecon 2024"
										loading="lazy"
										decoding="async"
									/>
								</div>
								<!-- Right Side Content -->
								<div class="flex flex-col justify-between">
									<!-- Testimonial Content -->
									<blockquote
										class="text-lg text-gray-800 md:text-xl"
									>
										“My coworkers continually surprise me
										with their creativity, dedication, and
										raw talent. Working here means working
										with the best.”
									</blockquote>
									<!-- User Info -->
									<div class="mt-6">
										<h2 class="font-semibold text-gray-900">
											Cubecon 2024
										</h2>
										<p class="text-sm text-gray-600">
											23 December 2024
										</p>
									</div>
								</div>
							</div>
						</Card.Root>
						<Card.Root
							class="eventCard1 bg-white md:motion-safe:animate-marquee-reverse relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
						>
							<div class="flex gap-6 p-6 rounded-lg shadow-md">
								<!-- Image Section -->
								<div class="shrink-0">
									<Image
										src={eventImage}
										class="h-60 w-60 object-cover"
										alt="cubecon 2024"
										loading="lazy"
										decoding="async"
									/>
								</div>
								<!-- Right Side Content -->
								<div class="flex flex-col justify-between">
									<!-- Testimonial Content -->
									<blockquote
										class="text-lg text-gray-800 md:text-xl"
									>
										“My coworkers continually surprise me
										with their creativity, dedication, and
										raw talent. Working here means working
										with the best.”
									</blockquote>
									<!-- User Info -->
									<div class="mt-6">
										<h2 class="font-semibold text-gray-900">
											Cubecon 2024
										</h2>
										<p class="text-sm text-gray-600">
											23 December 2024
										</p>
									</div>
								</div>
							</div>
						</Card.Root>
						<Card.Root
							class="eventCard1 bg-white md:motion-safe:animate-marquee-reverse relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
						>
							<div class="flex gap-6 p-6 rounded-lg shadow-md">
								<!-- Image Section -->
								<div class="shrink-0">
									<Image
										src={eventImage}
										class="h-60 w-60 object-cover"
										alt="cubecon 2024"
										loading="lazy"
										decoding="async"
									/>
								</div>
								<!-- Right Side Content -->
								<div class="flex flex-col justify-between">
									<!-- Testimonial Content -->
									<blockquote
										class="text-lg text-gray-800 md:text-xl"
									>
										“My coworkers continually surprise me
										with their creativity, dedication, and
										raw talent. Working here means working
										with the best.”
									</blockquote>
									<!-- User Info -->
									<div class="mt-6">
										<h2 class="font-semibold text-gray-900">
											Cubecon 2024
										</h2>
										<p class="text-sm text-gray-600">
											23 December 2024
										</p>
									</div>
								</div>
							</div>
						</Card.Root>
						<Card.Root
							class="eventCard1 bg-white md:motion-safe:animate-marquee-reverse relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
						>
							<div class="flex gap-6 p-6 rounded-lg shadow-md">
								<!-- Image Section -->
								<div class="shrink-0">
									<Image
										src={eventImage}
										class="h-60 w-60 object-cover"
										alt="cubecon 2024"
										loading="lazy"
										decoding="async"
									/>
								</div>
								<!-- Right Side Content -->
								<div class="flex flex-col justify-between">
									<!-- Testimonial Content -->
									<blockquote
										class="text-lg text-gray-800 md:text-xl"
									>
										“My coworkers continually surprise me
										with their creativity, dedication, and
										raw talent. Working here means working
										with the best.”
									</blockquote>
									<!-- User Info -->
									<div class="mt-6">
										<h2 class="font-semibold text-gray-900">
											Cubecon 2024
										</h2>
										<p class="text-sm text-gray-600">
											23 December 2024
										</p>
									</div>
								</div>
							</div>
						</Card.Root>
					</div>
				</div>
				<div class="group relative gap-10 overflow-hidden pb-5 md:flex">
					<div
						class="eventsection2 flex w-auto min-w-full shrink-0 snap-x snap-mandatory flex-nowrap items-stretch gap-10 overflow-x-auto px-5 py-5"
					>
						<Card.Root
							class="eventCard2 bg-white md:motion-safe:animate-marquee relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
						>
							<div class="flex gap-6 p-6 rounded-lg shadow-md">
								<!-- Image Section -->
								<div class="shrink-0">
									<Image
										src={eventImage}
										class="h-60 w-60 object-cover"
										alt="cubecon 2024"
										loading="lazy"
										decoding="async"
									/>
								</div>
								<!-- Right Side Content -->
								<div class="flex flex-col justify-between">
									<!-- Testimonial Content -->
									<blockquote
										class="text-lg text-gray-800 md:text-xl"
									>
										“My coworkers continually surprise me
										with their creativity, dedication, and
										raw talent. Working here means working
										with the best.”
									</blockquote>
									<!-- User Info -->
									<div class="mt-6">
										<h2 class="font-semibold text-gray-900">
											Cubecon 2024
										</h2>
										<p class="text-sm text-gray-600">
											23 December 2024
										</p>
									</div>
								</div>
							</div>
						</Card.Root>
						<Card.Root
							class="eventCard2 bg-white md:motion-safe:animate-marquee relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
						>
							<div class="flex gap-6 p-6 rounded-lg shadow-md">
								<!-- Image Section -->
								<div class="shrink-0">
									<Image
										src={eventImage}
										class="h-60 w-60 object-cover"
										alt="cubecon 2024"
										loading="lazy"
										decoding="async"
									/>
								</div>
								<!-- Right Side Content -->
								<div class="flex flex-col justify-between">
									<!-- Testimonial Content -->
									<blockquote
										class="text-lg text-gray-800 md:text-xl"
									>
										“My coworkers continually surprise me
										with their creativity, dedication, and
										raw talent. Working here means working
										with the best.”
									</blockquote>
									<!-- User Info -->
									<div class="mt-6">
										<h2 class="font-semibold text-gray-900">
											Cubecon 2024
										</h2>
										<p class="text-sm text-gray-600">
											23 December 2024
										</p>
									</div>
								</div>
							</div>
						</Card.Root>
						<Card.Root
							class="eventCard2 bg-white md:motion-safe:animate-marquee relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
						>
							<div class="flex gap-6 p-6 rounded-lg shadow-md">
								<!-- Image Section -->
								<div class="shrink-0">
									<Image
										src={eventImage}
										class="h-60 w-60 object-cover"
										alt="cubecon 2024"
										loading="lazy"
										decoding="async"
									/>
								</div>
								<!-- Right Side Content -->
								<div class="flex flex-col justify-between">
									<!-- Testimonial Content -->
									<blockquote
										class="text-lg text-gray-800 md:text-xl"
									>
										“My coworkers continually surprise me
										with their creativity, dedication, and
										raw talent. Working here means working
										with the best.”
									</blockquote>
									<!-- User Info -->
									<div class="mt-6">
										<h2 class="font-semibold text-gray-900">
											Cubecon 2024
										</h2>
										<p class="text-sm text-gray-600">
											23 December 2024
										</p>
									</div>
								</div>
							</div>
						</Card.Root>
						<Card.Root
							class="eventCard2 bg-white md:motion-safe:animate-marquee relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
						>
							<div class="flex gap-6 p-6 rounded-lg shadow-md">
								<!-- Image Section -->
								<div class="shrink-0">
									<Image
										src={eventImage}
										class="h-60 w-60 object-cover"
										alt="cubecon 2024"
										loading="lazy"
										decoding="async"
									/>
								</div>
								<!-- Right Side Content -->
								<div class="flex flex-col justify-between">
									<!-- Testimonial Content -->
									<blockquote
										class="text-lg text-gray-800 md:text-xl"
									>
										“My coworkers continually surprise me
										with their creativity, dedication, and
										raw talent. Working here means working
										with the best.”
									</blockquote>
									<!-- User Info -->
									<div class="mt-6">
										<h2 class="font-semibold text-gray-900">
											Cubecon 2024
										</h2>
										<p class="text-sm text-gray-600">
											23 December 2024
										</p>
									</div>
								</div>
							</div>
						</Card.Root>
					</div>
				</div>
			</div>
		</section>
		<section class="pt-20 pb-40 section">
			<div class="px-20">
				<div class="relative mb-16 text-center">
					<div
						class="bg-gradient-radial from-theme-green-200 absolute -top-10 right-1/3 -z-10 h-96 w-96 blur-2xl"
					>
					</div>
					<div
						class="bg-gradient-radial from-theme-green-200 absolute top-10 right-1/3 -z-10 h-96 w-96 blur-2xl"
					>
					</div>
					<Badge
						class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
						variant="outline">Our Team</Badge
					>
					<SectionTitle
						class=""
						text="Meet the"
						primaryColorText="Team"
					/>

					<p
						class="text-lg mb-10 max-w-2xl mx-auto max-md:text-center"
						data-aos="fade-up"
					>
						Explore how our expertise turns challenges into
						opportunities, delivering impactful results through
						innovative solutions.
					</p>
				</div>
				<div class="relative z-10">

					<div
						class="grid grid-cols-6 max-md:grid-cols-1 max-lg:grid-cols-2 gap-8"
					>
						{
							teams.map((team, index) => (
								<>
									<Card.Root class="shadow-nav">
										<div class="">
											<Card.Header class="p-0">
												<Image
													alt="feature"
													class="w-full rounded-lg grayscale hover:grayscale-0 transition duration-300"
													src={team.data.image}
												/>
											</Card.Header>
											<Card.Content>
												<div class="flex justify-between">
													<Card.Title class="text-[20px]">
														{team.data.name}

														<p class="text-sm  font-normal">
															{
																team.data
																	.designation
															}
														</p>
													</Card.Title>

													{team.data.linkedin && (
														<a
															href={
																team.data
																	.linkedin
															}
															target="_blank"
															rel="noopener noreferrer"
															class="text-gray-600 hover:text-primary"
														>
															<Linkedin
																width="16"
																height="16"
																astro-icon="social/linkedin"
															/>
														</a>
													)}
												</div>
											</Card.Content>
										</div>
									</Card.Root>
								</>
							))
						}
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>

<script is:inline>
	document.addEventListener("scroll", () => {
		const timeline = document.querySelector(".aboutSection"); // Parent section
		const dot = document.getElementById("scroll-dot"); // Moving dot
		const line = document.querySelector(
			".border-dashed", // Vertical line
		);

		// Get timeline position
		const timelineRect = timeline.getBoundingClientRect();
		const lineHeight = line.offsetHeight;

		// Calculate how much to move the dot
		let scrollPercent =
			(window.innerHeight - timelineRect.top) /
			(timelineRect.height + window.innerHeight);

		scrollPercent = Math.max(0, Math.min(1, scrollPercent)); // Clamp value between 0 and 1

		// Add an offset (e.g., 20px) to start the dot slightly lower
		const offset = -60; // Change this value as needed

		const dotPosition = lineHeight * scrollPercent + offset;

		// Move the dot along the vertical line
		dot.style.top = `${dotPosition}px`;
	});
</script>
