---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import * as Card from "$lib/components/ui/card";
import { Image } from "astro:assets";
import { Button } from "$lib/components/ui/button";
import { BASE_URL } from "$lib/consts";

type ValidCollections = "corefeatures" | "services";

const { collectionName } = Astro.props;
const collectionDetails = (await getCollection(
  collectionName as ValidCollections,
  (details: CollectionEntry<ValidCollections>) => {
    return details.data.slug !== "platform-engineering";
  }
)) as CollectionEntry<ValidCollections>[];

let gradientX = 45.5;
let gradientY = -200;
---

<div
  class="md:mt-10 grid gap-5 md:gap-10 md:grid-cols-2 lg:grid-cols-3 place-items-stretch"
>
  {
    collectionDetails.map((details, index) => (
      <>
        <Card.Root
          class="card-custom shadow-nav"
          onmousemove="updateGradient(event)"
          style={`--gradient-x: ${gradientX}px; --gradient-y: ${gradientY}px;`}
        >
          <div
            class="card-custom-inner"
            style={`--gradient-x: ${gradientX}px; --gradient-y: ${gradientY}px;`}
            onmousemove="updateGradient(event)"
          >
            <Card.Header>
              <Image
                alt="feature"
                class="max-md:w-[208px] w-[208px] "
                src={details.data.image}
              />
            </Card.Header>
            <Card.Content class="text-left">
              <Card.Title>
                <a href={BASE_URL + "/services/" + details.data.slug}>
                  {details.data.title}
                </a>
              </Card.Title>
              <p class="small-text md:text-para font-inter">
                {details.data.description}
              </p>
            </Card.Content>
            {details.collection === "services" && (
              <Card.Footer class="block">
                <Button
                  href={BASE_URL + "/services/" + details.data.slug}
                  class="bg-black"
                >
                  {" "}
                  Learn More
                </Button>
              </Card.Footer>
            )}
          </div>
        </Card.Root>
      </>
    ))
  }
</div>

<script is:inline>
  // Function to update gradient position
  function updateGradient(event) {
    const rect = event.currentTarget.getBoundingClientRect();
    gradientX = event.clientX - rect.left;
    gradientY = event.clientY - rect.top;

    // Update the style dynamically
    const target = event.currentTarget;
    target.style.setProperty("--gradient-x", `${gradientX}px`);
    target.style.setProperty("--gradient-y", `${gradientY}px`);
  }
</script>
