---
import { BASE_URL } from "../consts";
import { Image } from "astro:assets";
import Logo from "$lib/images/logo.svg";
import { Badge } from "$lib/components/ui/badge";
import { Linkedin, Facebook } from "lucide-svelte/icons";
import { getCollection, getEntry } from "astro:content";
const services = Object.values(await getCollection('services')).sort((a, b) => a.data.order - b.data.order);
const currentYear = new Date().getFullYear();
---

<footer class="bg-[#1A1A1A] text-white w-full relative">
  <div class="container flex flex-col md:flex-row justify-between gap-8">
    <!-- Left Section -->
    <div class="text-wrap pt-10 md:pt-[120px] md:pb-[104px]">
      <Image alt="improwised" src={Logo} class="mb-10 w-[150px] lg:w-48" />
      <p class="text-base leading-[24px] font-inter font-normal text-[#A3A3A3]">Call</p>
      <p class="mb-4 text-base leading-[24px] font-inter font-normal"><a href="tel:0281 256 3488">0281 256 3488</a></p>
      <p class="text-base leading-[24px] font-inter font-normal text-[#A3A3A3]">Mail</p>
      <p class="mb-4 text-base leading-[24px] font-inter font-normal">
        <a href="mailto:sales@improwised.com">sales@improwised.com</a>
      </p>
      <p class="text-base leading-[24px] font-inter font-normal text-[#A3A3A3]">Address</p>
      <p class="mb-4 text-wrap text-base leading-[24px] font-inter font-normal">
        304 - Pride Square, <br /> Pushkardham Road, <br />Near J. K. Chowk, <br
        />Rajkot-360005, Gujarat, India
      </p>
    </div>

    <!-- Right Sections -->
    <div
      class="grid grid-cols-2 lg:grid-cols-3 md:pt-[168px] md:pb-[104px] gap-12 max-md:border-b max-md:pb-8 border-[#292929]"
    >
      <div class="text-wrap mb-2">
        <h1 class="text-lg font-inter font-medium mb-6 mt-1 text-[#fff]">
          Solutions
        </h1>
        <ul
          class="space-y-3 md:space-y-4 text-sm leading-[16px] md:text-base md:leading-[28px] font-inter font-normal text-[#A3A3A3]"
        >
        {
          services.map((service) => (
            <>
          <li class="hover:text-[#fff]">
            <a href={`${BASE_URL}/services/${service?.data.slug}`}  aria-label={`Learn more about ${service?.data?.title}`}>{service?.data?.title}</a>
          </li>

          </>
            ))
          }

        </ul>
      </div>

      <!-- <div>
        <h3 class="text-lg font-inter font-medium mb-6 mt-1 text-[#fff]">Use cases</h3>
        <ul
          class="space-y-3 md:space-y-4 text-sm leading-[16px] md:text-base md:leading-[28px] font-inter font-normal text-[#A3A3A3]"
        >
          <li class="hover:text-[#fff]"><a href="#" aria-label="Learn more about Enterprise">Enterprise</a></li>
          <li class="hover:text-[#fff]"><a href="#" aria-label="Learn more about SaaS">SaaS</a></li>
          <li class="hover:text-[#fff]"><a href="#" aria-label="Learn more about Developers">Developers</a></li>
          <li class="hover:text-[#fff]"><a href="#" aria-label="Learn more about Small business">Small business</a></li>
          <li class="hover:text-[#fff]">
            <a href="#">Non-profit organization</a>
          </li>
          <li class="hover:text-[#fff]">
            <a href="#">Single high-resource site</a>
          </li>
          <li class="hover:text-[#fff]"><a href={`${BASE_URL}/casestudies`} aria-label="Case Studies">Case Studies</a></li>
        </ul>
      </div> -->

      <div class="text-wrap mb-2">
        <h3 class="text-lg font-inter font-medium mb-6 mt-1 text-[#fff]">Resources</h3>
        <ul
          class="space-y-3 md:space-y-4 text-sm leading-[16px] md:text-base md:leading-[28px] font-inter font-normal text-[#A3A3A3]"
        >
          <li class="hover:text-[#fff]"><a href={`${BASE_URL}/blogs`} aria-label="Learn more about Blog">Blog</a></li>
          <li class="hover:text-[#fff]"><a href={`${BASE_URL}/casestudies`} aria-label="Learn more about Case Studies">Case Studies</a></li>
          <!-- <li class="hover:text-[#fff]"><a href="#" aria-label="Documentation">Documentation</a></li>
          <li class="hover:text-[#fff]"><a href="#" aria-label="Changelog">Changelog</a></li>
          <li class="hover:text-[#fff]"><a href="#" aria-label="Newsletter">Newsletter</a></li>
          <li class="hover:text-[#fff]"><a href="#" aria-label="Knowledge Base">Knowledge Base</a></li>
          <li class="hover:text-[#fff]"><a href="#" aria-label="Development tools">Development tools</a></li>
          <li class="hover:text-[#fff]"><a href="#" aria-label="All resources">All resources</a></li> -->
        </ul>
      </div>

      <div class="text-wrap mb-2">
        <h3 class="text-lg font-inter font-medium mb-6 mt-1 text-[#fff]">Company</h3>
        <ul
          class="space-y-3 md:space-y-4 text-sm leading-[16px] md:text-base md:leading-[28px] font-inter font-normal text-[#A3A3A3]"
        >
          <li class="hover:text-[#fff]">
            <a href={`${BASE_URL}/aboutus`} aria-label="Learn more about our company on the About Us page">About us</a>
          </li>

          <li class="hover:text-[#fff]"><a href={`${BASE_URL}/aboutus`} aria-label="Learn more about our company on the About Us page">Why choose Improwised</a></li>
          <li class="hover:text-[#fff] flex items-center gap-2">
            <a href={`${BASE_URL}/careers`} aria-label="Careers">Careers <Badge class="bg-primary  text-gray-900  mb-0 font-inter">Hiring</Badge></a>
          </li>
          <!-- <li class="hover:text-[#fff]" aria-label="Partners"><a href={`${BASE_URL}/contact-us`}>Partners</a></li> -->
          <!-- <li class="hover:text-[#fff]" aria-label="Research program"><a href="#">Research program</a></li> -->
          <li class="hover:text-[#fff]" aria-label="Privacy Policy"><a href=`${BASE_URL}/privacy-policy`>Privacy Policy</a></li>
          <li class="hover:text-[#fff]" aria-label="Terms of Use"><a href=`${BASE_URL}/terms-of-use`>Terms of Use</a></li>
          <li class="hover:text-[#fff]" aria-label="Contact Us" ><a href={`${BASE_URL}/contact-us`}>Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="container md:border-t md:border-[#292929] pt-8 pb-6 md:pt-10 md:pb-14 flex flex-col-reverse md:flex-row max-md:text-center items-center md:justify-between gap-4"
  >
  <div>
    <p>
      &copy; {currentYear} Improwised Technologies Pvt. Ltd. All rights reserved.
      Improwised&reg; are registered trademarks.
      <a href=`${BASE_URL}/privacy-policy` aria-label="privacy-policy" class="underline font-medium">Legal Information</a>.
    </p>
  </div>

  <!-- Right Side: Social Media Icons -->
  <div class="flex items-center gap-4">
    <!-- LinkedIn Icon with External Link -->
    <a
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Improwised Technologies Pvt. Ltd."
      class="flex items-center gap-2 text-white hover:text-[#A3A3A3]"
      href="https://www.linkedin.com/company/improwised-technologies/"
    >
      <span class="sr-only">Go to Improwised's LinkedIn</span>
      <Linkedin width="24" height="24" astro-icon="social/linkedin" />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-2 text-white hover:text-[#A3A3A3]"
      href="https://www.facebook.com/improwised"
    >
      <span class="sr-only">Go to Improwised's Facebook</span>
      <Facebook width="24" height="24" astro-icon="social/facebook" />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-2 text-white hover:text-[#A3A3A3]"
      href="https://x.com/improwised"
    >
      <span class="sr-only"
        >Follow Improwised on x.com (formerly Twitter)</span
      >

      <svg
        viewBox="0 0 24 24"
        aria-hidden="true"
        width="24"
        height="24"
        astro-icon="social/twitter"
        ><path
          fill="currentColor"
          d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
        ></path></svg
      >
    </a>
  </div>
  </div>
</footer>
