---
import { SITE_TITLE, BASE_URL } from "../consts";
import { Image } from "astro:assets";
import Logo from "$lib/images/logo.svg";
import { Button } from "$lib/components/ui/button";
import Dropdown from "$lib/components/common/Dropdown.svelte";
import { getCollection } from "astro:content";
const services = await getCollection("services");
import Menu from "lucide-svelte/icons/menu";
import Moon from "lucide-svelte/icons/moon";
---

<header
  id="up"
  class="impronav-sticky-header fixed top-0 left-0 right-0 border-b border-transparent transition-all z-50"
>
  <!-- <header
  class="impronav-sticky-header sticky top-0 border-b border-transparent transition-all  sticky bg-white/30 backdrop-blur-md z-50"
> -->
  <div
    class="container relative flex flex-col items-center justify-between lg:flex-row px-4 py-3"
  >
    <div class="flex w-full items-center justify-between lg:w-auto">
      <a href={BASE_URL} class="flex items-center transition">
        <Image
          src={Logo}
          class="w-[200px]"
          alt={SITE_TITLE}
          loading="lazy"
          decoding="async"
        /></a
      >

      <div class="block lg:hidden">
        <button id="impronav-menu" aria-label="Toggle Menu">
          <Menu class="h-6 w-6" id="menuIconMenu" />
        </button>
      </div>
    </div>

    <nav
      class="impronav-items impronav-toggle mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto lg:bg-transparent bg-white"
    >
      <ul class="flex flex-col lg:flex-row lg:gap-3">
        <a
          href={BASE_URL}
          class="hover:text-primary active py-2 transition lg:px-3 text-base text-black leading-6"
          >Home</a
        >
        <a
          href=`${BASE_URL}/aboutus`
          class="hover:text-primary py-2 transition lg:px-3 text-base text-black leading-6"
          >About Us</a
        >
        <a class="hover:text-primary py-2 transition lg:px-3">
          <Dropdown client:load services={services} />
        </a>
        <a
          href=`${BASE_URL}/casestudies`
          class="hover:text-primary py-2 transition lg:px-3 text-base text-black leading-6"
          >Case Studies</a
        >
        <a
          href=`${BASE_URL}/careers`
          class="hover:text-primary py-2 transition lg:px-3 text-base text-black leading-6"
          >Careers</a
        >
        <a
          href=`${BASE_URL}/blogs`
          class="hover:text-primary py-2 transition lg:px-3 text-base text-black leading-6"
          >Blogs</a
        >
      </ul>
      <div class="mt-3 flex items-center gap-4 lg:hidden">
        <Button variant="outline">
          <Moon class="h-6 w-6" />
        </Button>
        <Button href=`${BASE_URL}/contact-us` class="bg-black">
          Contact Us
        </Button>
      </div>
    </nav>

    <div>
      <div class="hidden items-center gap-4 lg:flex">
        <Button variant="outline">
          <Moon class="h-6 w-6" />
        </Button>
        <Button href=`${BASE_URL}/contact-us` class="bg-black">
          Contact Us
        </Button>
      </div>
    </div>
  </div>
</header>
<style>
  .impronav-sticky-header {
    background: transparent; 
    width: 100%;
    z-index: 50;
    transition:
      background 0.3s ease-in-out,
      backdrop-filter 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
  }
  .impronav-sticky-header.scrolled {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px); 
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
</style>
