---
import { Image } from "astro:assets";
import { Button } from "$lib/components/ui/button";
import { BASE_URL } from "$lib/consts";
import person1 from "$lib/images/people/Circle1.png";
import person2 from "$lib/images/people/Circle2.png";
import person3 from "$lib/images/people/Circle3.png";
import Particle from "$lib/components/common/Particle.svelte"
import { getCollection } from "astro:content";
// import Particles from "$lib/scripts/particles";
const clientsCollection = await getCollection('clients');
const clients = clientsCollection.flatMap(client => client.data.clients);
const peopleImages = [person3, person2, person1];
---

<section
  class="section1 flex flex-col items-center justify-center text-center pt-30 pb-20 md:pt-56 md:pb-48 px-6 bg-image relative"
>
  <!-- Trusted Badge -->
  <div
    class="inline-flex items-center bg-white shadow-md px-5 py-2 rounded-full text-sm sm:small-text"
  >
    Trusted by <span class="font-bold mx-1">200+</span> professionals
    <span class="flex ml-4 group">
      {
        peopleImages.map((src, index) => (
          <Image src={src} alt={`Person ${index + 1}`} class="profile-img" />
        ))
      }
    </span>
  </div>

  <!-- Main Heading -->
  <h1 class="mt-6 mb-4 max-md:text-center main-heading-small md:main-heading">
    Engineering the Platforms<br />
    <span class="text-primary">That Build the Future</span>
  </h1>

  <!-- Subtext -->
  <p class="md:mt-4 text-para max-w-2xl mx-auto">
    We design self-service, high-performing platforms that accelerate development, optimize operations, and drive seamless scalability.
  </p>

  <!-- CTA Buttons -->
  <div class="mt-6 md:mt-10 flex justify-center space-x-4">
    <Button href=`${BASE_URL}/contact-us` class="bg-black md:text-[16px] font-manrope" aria-label="Contact us">Get in Touch</Button>
    <Button href=`${BASE_URL}/services/platform-engineering` class="md:text-[16px] font-manrope" aria-label="Learn more about our services on the service page" variant="outline">
      Explore Solutions
    </Button>
  </div>

  <!-- Trusted Companies -->
  <div class="mt-16 md:mt-20">
    <p
      class="text-[16px] leading-[20px] md:text-[18px] md:leading-[26px] font-semibold tracking-[2%] font-inter text-[#141414]"
    >
    Trusted by Leading Companies Worldwide
    </p>
    <div class="mt-4 mb-4 flex justify-center flex-wrap gap-6 md:gap-8">
      {
        clients.map((client) => (
          <>
            <div>
              <Image
                src={client.image}
                alt={client.title}
                loading="lazy"
                decoding="async"
                class="mx-auto"
                height={38}
              />
            </div>
          </>
        ))
      }
    </div>
  </div>
  <Particle client:load />

</section>

<style>
  @reference "tailwindcss";

  .bg-image {
    background-image: url("../images/herodot.svg"),
      url("../images/bg-gradient.svg");
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    position: relative;
  }
  .profile-img {
    @apply w-8 h-8 rounded-full border-2 border-white -ml-3 transition-all duration-300 ring-2 ring-white;
  }

  .profile-img:hover {
    @apply scale-125 z-10 ring-sky-200;
  }
</style>

<script src="../scripts/particles.js"></script>
