---
import { getCollection } from "astro:content";

import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import Accordion from "$lib/components/common/Accordion.svelte";
import { Badge } from "$lib/components/ui/badge";
import { Image } from "astro:assets";
import { CircleUserRound } from "lucide-svelte";
import { BASE_URL } from "$lib/consts";

const { block } = Astro.props;

const services = await getCollection("services", ({data}) => {
    return data.slug == block
})

---

<div class="container flex flex-col md:flex-row justify-between gap-10 md:gap-16">
    {services.map(({data}) => (
        <div>
            <Badge variant="outline" class="py-1">
            <CircleUserRound class="mr-1" size={18} />
            <span class="text-xs font-bold md:text-sm tracking-wider font-manrope">Service</span>
          </Badge>
            <SectionTitle class="max-md:text-left w-5/6 md:w-4/5" text={data.text} primaryColorText={data.primaryText} />
            <Accordion client:load blocks={data.blocks} baseUrl={BASE_URL} servicePage={data.slug} />
        </div>
        <div class="md:min-w-[50%] max-h-max flex justify-center items-center">
            <Image alt="building block" src={data.blockImage} data-aos="fade-left"/>
        </div>
    ))}
    
</div>