---
import Layout from "$lib/layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION,BASE_URL } from "$lib/consts";
import { Badge } from "$lib/components/ui/badge";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import CarouselVertical from "$lib/components/common/CarouselVertical.svelte";
import { Image } from "astro:assets";
import c1 from "$lib/images/solution-shape1.png";
import career from "$lib/images/career/6.jpg";

import { Button } from "$lib/components/ui/button";
const imageFiles = await Astro.glob("$lib/images/career/*");
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main class="main-content">
        <section class="py-32 section">
            <div class="container">
                <div class="relative mb-16 text-center">
                    <Badge
                        class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
                        variant="outline">Career</Badge
                    >
                    <SectionTitle
                        class=""
                        text="Become a part of the of"
                        primaryColorText="our team"
                    />

                    <p
                        class="text-lg mb-10 max-w-2xl mx-auto max-md:text-center"
                        data-aos="fade-up"
                    >
                        Be part of our team and grow with us. Exciting
                        opportunities and a collaborative environment await!
                    </p>
                    <Button href=`${BASE_URL}/careers/jobs`>Job Opening</Button>
                    <Button variant="outline">Contact Us</Button>
                </div>

                <div
                    class="bg-white dark:bg-dark-200 shadow-nav rounded-lg p-2.5 mb-12 relative aos-init aos-animate"
                    data-aos="fade-up"
                    data-aos-offset="200"
                    data-aos-duration="1000"
                    data-aos-once="true"
                >
                    <Image
                        src={career}
                        alt="sfsd"
                        class="aos-init aos-animate"
                        data-aos="fade-up"
                    />
                </div>
            </div>
        </section>

        <section class="relative pb-20 overflow-x-hidden">
            <div class="container relative z-10">
                <div
                    class="grid grid-cols-2 max-md:grid-cols-1 gap-16 items-start relative border-t-1 border-r-1 p-6 animated-border-1 border-gray-100"
                >
                    <div
                        class="relative max-md:order-1 aos-init aos-animate"
                        data-aos="fade-up"
                        data-aos-offset="200"
                        data-aos-duration="1000"
                        data-aos-once="true"
                    >
                        <Image
                            src={c1}
                            alt="hero Image"
                            class="inline-block dark:hidden w-full rounded-medium shadow-nav"
                        />
                    </div>
                    <div class="relative max-md:order-2">
                        <Badge
                            class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
                            variant="outline">Career</Badge
                        >
                        <SectionTitle
                            class=""
                            text="LET'S BUILD "
                            primaryColorText="TOGETHER"
                        />

                        <p
                            class="text-lg mb-5 max-w-2xl mx-auto max-md:text-center"
                            data-aos="fade-up"
                        >
                            We are a cloud-native services provider company with
                            customers across a range of countries and markets.
                        </p>
                        <p
                            class="text-lg mb-5 max-w-2xl mx-auto max-md:text-center"
                            data-aos="fade-up"
                        >
                            Our areas of expertise include cloud transformation,
                            managed services, DevOps automation, and the
                            creation of cloud-native applications.
                        </p>
                        <p
                            class="text-lg mb-5 max-w-2xl mx-auto max-md:text-center"
                            data-aos="fade-up"
                        >
                            If you appreciate solving problems and working with
                            cutting-edge technologies, feel free to apply for
                            the positions mentioned below.
                        </p>
                        <p class="italic text-gray-500 text-sm mb-10">
                            If you don't find your role, we will still hear you,
                            <a href="#" class="font-bold">
                                send resume here.
                            </a>
                        </p>
                        <Button>Job Opening</Button>
                    </div>
                </div>
                <div
                    class="grid grid-cols-2 max-md:grid-cols-1 gap-16 items-start relative border-t-1 border-l-1 p-6 animated-border-2 border-gray-100"
                >
                    <div
                        class="relative order-2 max-md:order-1 aos-init aos-animate"
                        data-aos="fade-up"
                        data-aos-offset="200"
                        data-aos-duration="1000"
                        data-aos-once="true"
                    >
                        <Image
                            src={c1}
                            alt="hero Image"
                            class="inline-block dark:hidden w-full rounded-medium shadow-nav"
                        />
                    </div>
                    <div class="relative max-md:order-2 order-1">
                        <Badge
                            class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
                            variant="outline">Our Culture</Badge
                        >
                        <SectionTitle
                            class=""
                            text="Who"
                            primaryColorText="we are?"
                        />

                        <p
                            class="text-lg mb-5 max-w-2xl mx-auto max-md:text-center"
                            data-aos="fade-up"
                        >
                            At Improwised Technologies, our clients' interests
                            are put first, even if that means recommending
                            pre-made software rather than creating a new one
                            from scratch.
                        </p>
                        <p
                            class="text-lg mb-5 max-w-2xl mx-auto max-md:text-center"
                            data-aos="fade-up"
                        >
                            Transparency is the pillar of our relationship with
                            our customers and we proactively communicate the
                            technical decisions and trade-offs we make.
                        </p>
                        <p
                            class="text-lg mb-5 max-w-2xl mx-auto max-md:text-center"
                            data-aos="fade-up"
                        >
                            We usually take the responsibility for the whole
                            development lifecycle from architecture,
                            development, testing, deployment, and maintenance -
                            simplifying our clients' lives.
                        </p>
                        <p
                            class="text-lg mb-5 max-w-2xl mx-auto max-md:text-center"
                            data-aos="fade-up"
                        >
                            What sets us apart is continuous improvement in our
                            knowledge and everything we do.
                        </p>
                    </div>
                </div>
                <div
                    class="grid grid-cols-2 max-md:grid-cols-1 gap-16 items-start relative border-t-1 border-r-1 p-6 animated-border-1 border-gray-100"
                >
                    <div
                        class="relative max-md:order-1 aos-init aos-animate"
                        data-aos="fade-up"
                        data-aos-offset="200"
                        data-aos-duration="1000"
                        data-aos-once="true"
                    >
                        <Image
                            src={c1}
                            alt="hero Image"
                            class="inline-block dark:hidden w-full rounded-medium shadow-nav"
                        />
                    </div>
                    <div class="relative max-md:order-2">
                        <Badge
                            class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
                            variant="outline">Our Culture</Badge
                        >
                        <SectionTitle
                            class=""
                            text="What"
                            primaryColorText="we do?"
                        />

                        <p
                            class="text-lg mb-5 max-w-2xl mx-auto max-md:text-center"
                            data-aos="fade-up"
                        >
                            We excel at creating scalable, data-intensive
                            applications for our clients. We are good at
                            technology and tools, but what makes us stand out is
                            our knack for solving problems the right way with
                            the right tools.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-20 section">
            <div class="relative p-6 md:p-16">
                <div class="mb-16 text-center">
                    <Badge
                        class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
                        variant="outline">Culture</Badge
                    >
                    <SectionTitle
                        class=""
                        text="Life at"
                        primaryColorText="Improwised Technologies"
                    />

                    <p
                        class="text-lg mb-10 max-w-2xl mx-auto max-md:text-center"
                        data-aos="fade-up"
                    >
                        Be part of our team and grow with us. Exciting
                        opportunities and a collaborative environment await!
                    </p>
                </div>

                <CarouselVertical client:load {imageFiles} />
            </div>
        </section>
    </main>
</Layout>
