---
import Layout from "$lib/layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION, BASE_URL } from "$lib/consts";
import { Badge } from "$lib/components/ui/badge";
import { Image } from "astro:assets";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { getCollection } from "astro:content";
const jobs = await getCollection("jobs");
import * as Card from "$lib/components/ui/card";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main class="main-content">
        <section class="py-32 section">
            <div class="container">
                <div class="relative mb-16 text-center">
                    <Badge
                        class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
                        variant="outline">Jobs</Badge
                    >
                    <SectionTitle class="" text="Insights & Inspiration" />

                    <p
                        class="text-lg mb-10 max-w-2xl mx-auto max-md:text-center"
                        data-aos="fade-up"
                    >
                        Stay informed with expert insights, industry trends, and
                        innovative ideas. Explore our blogs for strategies,
                        tips, and updates to keep you ahead in a rapidly
                        evolving world.
                    </p>
                </div>
                <div class="relative z-10">
                    <div
                        class="absolute left-1/2 top-60 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden"
                    >
                        <div
                            class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/20 blur-[145px]"
                        >
                        </div>
                        <div
                            class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
                        >
                        </div>
                        <div
                            class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
                        >
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-3 max-md:grid-cols-1 max-lg:grid-cols-2 gap-8"
                    >
                        {
                            jobs.map((job, index) => (
                                <>
                                    <Card.Root class="shadow-nav">
                                        <div class="">
                                            <Card.Header class="p-0 pr-12 pl-12 pt-12 bg-gradient-radial-dark">
                                                {job.data.title}
                                            </Card.Header>
                                            <Card.Content class="">
                                                <div class="flex gap-x-2 items-center">
                                                    <p>
                                                        By {job.data.payRange}
                                                    </p>
                                                    <span>
                                                        <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            width="5"
                                                            height="6"
                                                            viewBox="0 0 5 6"
                                                            fill="none"
                                                        >
                                                            <circle
                                                                cx="2.5"
                                                                cy="3"
                                                                r="2.5"
                                                                fill=""
                                                                class="fill-[#D8DBD0] dark:fill-[#3B3C39]"
                                                            />
                                                        </svg>
                                                    </span>
                                                    <p>{job.data.experience}</p>
                                                </div>
                                            </Card.Content>
                                            <Card.Footer>
                                                <p>{job.data.description}</p>
                                            </Card.Footer>
                                        </div>
                                    </Card.Root>
                                </>
                            ))
                        }
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>
