---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "$lib/layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION, BASE_URL } from "$lib/consts";
import { Badge } from "$lib/components/ui/badge";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { render } from "astro:content";
import CTASection from "$lib/components/CTASection.astro";
import { CircleUserRound, CalendarDays } from "lucide-svelte";
import ShareDropdown from "$lib/components/common/ShareDropdown.svelte";
import { Button } from "$lib/components/ui/button";

export async function getStaticPaths() {
    const jobs = await getCollection("jobs");
    return jobs.map((job) => ({
        params: { slug: job.id },
        props: job,
    }));
}
type Props = CollectionEntry<"services">;

const job = Astro.props;

const { Content } = await render(job);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main class="main-content">
        <section class="py-20 section">
            <div class="container">
                <div
                    class="relative text-center mb-10 max-w-[948px] mx-auto aos-init aos-animate"
                >
                    <Badge
                        class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
                        variant="outline">Job</Badge
                    >
                    <SectionTitle class="" text={job.data.title} />
                </div>
            </div>
        </section>
        <section class="mb-150 relative jobDetail">

            <div class="container relative">
                <div class="grid grid-cols-12 max-lg:gap-y-25 lg:gap-16">
                    <Content />
                    <div
                        class="col-span-full max-lg:order-1 lg:col-span-4 self-start relative"
                    >
                        <div
                            class="bg-white dark:bg-dark-200 rounded-lg p-2.5 shadow-nav relative z-10"
                        >
                            <div
                                class="bg-white dark:bg-dark-200 border border-dashed rounded-lg rounded border-gray-100 dark:border-borderColour-dark max-md:p-5 pt-10 px-8"
                            >
                                <h3 class="mb-1 text-2xl lg:text-2xl">
                                    Job Overview
                                </h3>
                                <div
                                    class="[&>*:not(:last-child)]:border-b [&>*:not(:last-child)]:border-dashed [&>*:not(:last-child)]:border-borderColour dark:[&>*:not(:last-child)]:border-borderColour-dark"
                                >
                                    <div class="py-5">
                                        <h4 class="text-lg font-medium mb-2">
                                            Date Posted
                                        </h4>
                                        <p>{job.data.datePosted.toDateString()}</p>
                                    </div>
                                    <div class="py-5">
                                        <h4 class="text-lg font-medium mb-2">
                                            Expiration date
                                        </h4>
                                        <p>{job.data.expiryDate.toDateString()}</p>
                                    </div>
                                    <div class="py-5">
                                        <h4 class="text-lg font-medium mb-2">
                                            Location
                                        </h4>
                                        <p>{job.data.location}</p>
                                    </div>
                                    <div class="py-5">
                                        <h4 class="text-lg font-medium mb-2">
                                            Offered Salary
                                        </h4>
                                        <p>{job.data.payRange}</p>
                                    </div>
                                    <div class="py-5">
                                        <h4 class="text-lg font-medium mb-2">
                                            Experience
                                        </h4>
                                        <p>{job.data.experience}</p>
                                    </div>
                                    <div class="py-5">
                                        <h4 class="text-lg font-medium mb-2">
                                            Qualification
                                        </h4>
                                        <p>{job.data.qualification}</p>
                                    </div>
                                </div>
                                <div class="mb-12 mt-4">

                                    <h4 class="text-lg font-medium mb-2">
                                        Job Skills
                                    </h4>
                                    <div class="flex flex-wrap w-full gap-3">
                                        <div>
                                            {
                                                job.data.jobSkills.map(
                                                    (tag, index) => (
                                                        <>
                                                            <Badge
                                                                variant="secondary"
                                                                class="mr-2 p-2"
                                                            >
                                                                {tag}
                                                            </Badge>
                                                        </>
                                                    ),
                                                )
                                            }


                                        </div>

                                    </div>
                                    <div class="mt-10">
                                        <Button
                                            href="mailto:careers@improwised.com?subject=Dropped Resume to get job/"

                                        >
                                            Apply Now
                                        </Button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<div
class="bg-gradient-to-b from-gray-50 dark:from-gray-950/50 to-white dark:to-gray-900 relative px-5 py-10 md:px-20 md:py-20"
>
<svg
    viewBox="0 0 1440 181"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="absolute inset-x-0 top-0 w-full block"
    data-v-baf90ddd=""
    ><mask id="path-1-inside-1_1086_7239" fill="white"
        ><path d="M0 0H1440V181H0V0Z"></path></mask
    ><path
        d="M0 0H1440V181H0V0Z"
        fill="url(#paint0_linear_1086_7239)"
        fill-opacity="0.22"></path><path
        d="M0 2H1440V-2H0V2Z"
        fill="url(#paint1_linear_1086_7239)"
        mask="url(#path-1-inside-1_1086_7239)"></path><defs
        ><linearGradient
            id="paint0_linear_1086_7239"
            x1="720"
            y1="0"
            x2="720"
            y2="181"
            gradientUnits="userSpaceOnUse"
            ><stop stop-color="#72b14a"></stop><stop
                offset="1"
                stop-color="#72b14a"
                stop-opacity="0"></stop></linearGradient
        ><linearGradient
            id="paint1_linear_1086_7239"
            x1="0"
            y1="90.5"
            x2="1440"
            y2="90.5"
            gradientUnits="userSpaceOnUse"
            ><stop stop-color="#72b14a" stop-opacity="0"></stop><stop
                offset="0.395"
                stop-color="#72b14a"></stop><stop
                offset="1"
                stop-color="#72b14a"
                stop-opacity="0"></stop></linearGradient
        ></defs
    ></svg
>
<div class="mx-auto max-w-screen-xl px-5 py-10">
    <div class="grid gap-10 md:grid-cols-2 lg:grid-cols-6">
        <div class="lg:col-span-4">
            <h2 class="text-4xl font-bold lg:text-5xl lg:tracking-tight">
                Sound like the <span class="text-primary">job for you?</span>
            </h2>
            <p class="mt-4 text-lg text-black/70 md:text-xl">
                Got what it takes to work with us? Great! Send us a link to your resumé or portfolio to become part of our talent pool.
            </p>
        </div>
        <div class="lg:col-span-2">
            <!-- <div class="div-ripple"></div> -->
            <div class="mt-10 text-right ctn-btn">
                <Button href="mailto:careers@improwised.com?subject=Dropped Resume to get job/" class="btn-down"> Drop your resume here </Button>
            </div>
        </div>
    </div>
</div>
</div>

    </main></Layout
>

