---
import Layout from "$lib/layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION, BASE_URL } from "$lib/consts";
import { Badge } from "$lib/components/ui/badge";
import { Image } from "astro:assets";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { getCollection } from "astro:content";
const jobs = await getCollection("jobs");

import * as Card from "$lib/components/ui/card";
import { Button } from "$lib/components/ui/button";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main class="main-content">
        <section class="py-40 section">
            <div class="container">
                <div class="relative mb-16 text-center">
                    <Badge
                        class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
                        variant="outline">Jobs</Badge
                    >
                    <SectionTitle class="" text="Current Openings" />

                    <p
                        class="text-lg mb-10 max-w-2xl mx-auto max-md:text-center"
                        data-aos="fade-up"
                    >
                        Be part of a dynamic team where your skills shine,
                        innovation thrives, and growth is limitless. Let's build
                        the future together!
                    </p>
                </div>
                <div class="relative z-10">
                    {
                        jobs.map((job, index) => (
                            <>
                                <div class="bg-white mb-10 rounded-lg p-2.5 mx-auto shadow-nav">
                                    <div class=" bg-white  border  rounded-lg border-dashed rounded border-gray-200 dark:border-borderColour-dark py-6 px-5 xl:px-8">
                                        <div class="grid grid-cols-12 max-md:gap-y-5 items-center">
                                            <div class="col-span-full lg:col-span-8">
                                                <h3 class="text-lg">

                                                    {job.data.title}
                                                </h3>
                                                <p class="font-jakarta_sans text-light">
                                                    {job.data.experience}
                                                </p>
                                            </div>

                                            <div class="col-span-full sm:col-span-3 lg:col-span-4 text-right">
                                                <span class="bg-gray-100 py-1 mr-2 px-4 rounded-medium text-paragraph border-paragraph text-sm font-medium text-black">
                                                    {job.data.payRange}
                                                </span>
                                                <Button href={`${BASE_URL}/careers/jobs/${job.data.slug}`}> Read More
                                                </Button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </>
                        ))
                    }
                </div>
            </div>
        </section>
    </main>
</Layout>
