---
import Layout from "$lib/layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION, BASE_URL } from "$lib/consts";
import CTASection from "$lib/components/CTASection.astro";
import backImage from "$lib/images/blogs/back.svg";
import bg2Image from "$lib/images/blogs/bg2.svg";
import BlogsCarousel from "$lib/components/common/BlogsCarousel.svelte";
import { getCollection } from "astro:content";
import { Badge } from "$lib/components/ui/badge";
import { Button } from "$lib/components/ui/button";
const blogsList = await getCollection("blogs");

const blogs = blogsList.sort(
  (a, b) =>
    new Date(b.data.publishDate).getTime() -
    new Date(a.data.publishDate).getTime(),
);

const latestBlog = blogs[0];

import { Image } from "astro:assets";
import * as Card from "$lib/components/ui/card";
import avtarImage from "$lib/images/blogs/impro.png";
import CircleUserRound from "lucide-svelte/icons/circle-user-round";

function formatDate(dateString: string | number | Date) {
    if (!dateString) return "No date available";

    const date = new Date(dateString);

    return date.toLocaleDateString("en-US", { month: "long", day: "numeric", year: "numeric" });
}


---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="main-content">
    <section
      class="section1 text-center py-16 px-6 bg-image relative pt-[30%] md:pb-20 lg:pt-[12%]"
      style={`background-image: url(${backImage.src}), url(${bg2Image.src})`}
    >
      <!-- Main Heading -->
      <div class="container">
        <h1
          class="font-manrope mt-4 mb-6 max-md:text-center main-heading-small md:main-heading"
        >
          Improwised <span class="text-primary">Blog</span>
        </h1>

        <!-- Subtext -->
        <p class="mt-4 text-para max-w-2xl mx-auto">
          Explore Improwised blogs for the latest insights, trends, essential best practices shaping Platform Engineering.
        </p>
        <div class="relative overflow-x-clip">
          <div class="flex justify-center">
            <BlogsCarousel client:load blogs={blogs} />
          </div>
        </div>
      </div>
    </section>

    <section class="py-10 md:py-10 section">
      <div class="container">
        <Badge class="mb-10" variant="outline">
          <CircleUserRound width="16" height="16" class="mr-1 w-[16px]" /> Latest
          Featured
        </Badge>

        <div
          class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center bg-white shadow-nav rounded-xl overflow-hidden"
        >
          <!-- Left: Blog Image -->
          <div class="relative w-full">
            <Image
              alt="feature"
              class="w-full h-full object-cover"
              decoding="async"
              loading="lazy"
              src={latestBlog.data.image}
            />
          </div>

          <!-- Right: Blog Content -->
          <div class="p-4 flex flex-col justify-center">
            <p
              class="mb-2 font-manrope font-bold text-[#737373] text-[14px] leading-[24px] tracking-[16%]"
            >
              {formatDate(latestBlog.data.publishDate)}
            </p>

            <h2
              class="mb-4 font-manrope font-bold text-[24px] leading-[28px] md:text-[28px] text-[#141414]  md:leading-[32px]"
            >
              <a href={BASE_URL + "/blogs/" + latestBlog.data.slug}>
                {latestBlog.data.title}
              </a>
            </h2>

            <p class="text-para mb-6">
              {latestBlog.data.description}
            </p>

            <!-- Author Info -->
            <div class="flex justify-between items-center gap-4">
              <!-- Author Info -->
              <div class="flex items-center gap-2">
                <Image
                  alt="feature"
                  class="rounded-full"
                  width={56}
                  height={56}
                  src={avtarImage}
                />
                <p
                  class="font-semibold text-[#292929] text-[18px] tracking-tight"
                >
                  By {latestBlog.data.author}
                  <br />
                  <span
                    class="font-normal text-[#292929] text-[16px] leading-[18px] tracking-tight"
                  >
                    Improwised Technologies Pvt. Ltd.
                  </span>
                </p>
              </div>

              <!-- Contact Us Button -->
              <Button
                href={BASE_URL + "/blogs/" + latestBlog.data.slug}
                class="bg-black"
              >
                Read More
              </Button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="py-10 md:py-40 section">
      <div class="container">
        <Badge class="mb-10" variant="outline"
          ><CircleUserRound
            width="16"
            height="16"
            class="mr-1 w-[16px]"
          />Featured Blogs</Badge
        >
        <div
          class="grid grid-cols-3 max-md:grid-cols-1 max-lg:grid-cols-2 gap-8"
        >
          {
            blogs.map((blog, index) => (
              <>
                <Card.Root class="shadow-nav border-0 hover:scale-[1.1] transition-transform duration-500">
                  <div class="">
                    <Card.Header class="p-0 text-center ">
                      <Image
                        alt="feature"
                        class="w-full  object-contain rounded-t-[12px] sm:h-[250px] md:h-[300px]"
                        decoding="async"
                        loading="lazy"

                        src={blog.data.image}
                      />
                    </Card.Header>
                    <Card.Content class="">
                      <p class="mb-2 font-manrope text-[#A3A3A3] md:text-[16px] text-[14px] leading-[24px] tracking-[16%]">
                        {formatDate(blog.data.publishDate)}
                      </p>
                      <Card.Title class="text-[18px] md:text-[20px]  color-[#1414] font-manrope font-bold leading-[24px] tracking-tight">
                        <a href={BASE_URL + "/blogs/" + blog.data.slug}>
                          {blog.data.title}
                        </a>
                      </Card.Title>
                    </Card.Content>
                    <Card.Footer>
                      <div class=" flex gap-x-2 items-center">
                        <Image
                          alt="feature"
                          class="rounded-full"
                          width={56}
                          height={56}
                          src={avtarImage}
                        />
                        <p class="font-semibold text-[#292929] text-[16px] md:text-[18px] tracking-tight">
                          By {blog.data.author}
                          <br />
                          <span class="font-normal text-[#292929] text-[16px] md:text-[18px] tracking-tight">
                            Improwised Technologies Pvt. Ltd.
                          </span>
                        </p>
                      </div>
                    </Card.Footer>
                  </div>
                </Card.Root>
              </>
            ))
          }
        </div>
      </div>
    </section>
  </main>
  <CTASection />
</Layout>
<style>
  .bg-image {
    background-size: cover, contain;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
  }
</style>
