---
import Layout from "$lib/layouts/Layout.astro";
import { BASE_URL } from "$lib/consts";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { Badge } from "$lib/components/ui/badge";
import { CalendarFold } from "lucide-svelte";
import ContactFAQ from "$lib/components/common/ContactFAQ.svelte";
import CTASection from "$lib/components/CTASection.astro";
import Button from "$lib/components/ui/button/button.svelte";
import person1 from "$lib/images/people/1.svg";
import person2 from "$lib/images/people/2.svg";
import person3 from "$lib/images/people/3.svg";
const peopleImages = [person1, person2, person3];
import { Image } from "astro:assets";
import { Star } from "lucide-svelte";
import * as Card from "$lib/components/ui/card";
import { getCollection } from "astro:content";
import Icon from "$lib/components/common/Icon.svelte";
import { KeyRound } from "lucide-svelte";
import ImageCarousel from "$lib/components/common/ImageCarousel.svelte";
import ReviewCarousel from "$lib/components/common/ReviewCarousel.svelte"
import Accordion from "$lib/components/common/Accordion.svelte";

const orgBenefits = await getCollection("benefits", ({ data }) => {
  return data;
});

const careers = await getCollection("careers", (data) => {
  return data;
});

const lifeImages = await getCollection("lifeimages", ({data}) => {
 return data
})


const reviews = await getCollection("reviews", ({data: {reviews}}) => {
  return reviews
})

// Meta title and description
const seoContents = await getCollection('seocontent');
const [{title, description}] = (seoContents[0].data).filter((content) => content.slug == "careers")

const contactfaqs = await getCollection('contactfaqs');
const faqs = contactfaqs.flatMap(contactFaqs => contactFaqs.data.contactfaqs);


let gradientX = 45.5;
let gradientY = -200;
---

<Layout title={title} description={description}>
  <main class="main-content">
    <section class="section1 bg-career py-10 md:py-40 pt-[30%] lg:pt-52">
      <div
        class="container flex flex-col gap-8 items-center lg:flex-row justify-between"
      >
        <div class="flex flex-col gap-6 lg:gap-10 items-center lg:items-start">
          <div class="flex flex-col items-center lg:items-start">
            <SectionTitle
              class="text-center lg:text-left sm:w-3/5 main-heading-small md:main-heading"
              text="Be Part Of Our"
              primaryColorText="IT Innovation Team"
            />
            <p
              class="text-center lg:text-left small-text font-roboto md:text-para text-third-color"
            >
              Be part of a dynamic team shaping the future of IT solutions.
            </p>
          </div>
          <Button aria-label="Contact Us"  href={`${BASE_URL}/contact/`} class="button-bg"> Join Our Team </Button>
        </div>

        <!-- <div class="my-auto">
          <div
            class="inline-flex items-center small-text md:text-para font-medium text-gray-700"
          >
            <p>Trusted and top rated tech team</p>
            <div class="flex ml-3 group">
              {
                peopleImages.map((src, index) => (
                  <Image
                    src={src}
                    alt={`Person ${index + 1}`}
                    class={`${index > 0 ? "-ml-[6px]" : ""} h-8 w-8`}
                  />
                ))
              }
            </div>
          </div>
          <div class="pt-3 flex justify-between items-center">
            <h3
              class="text-[21px] leading-[30px] text-[#2b3935] font-manrope font-extrabold tracking-wide uppercase"
            >
              glassdoor
            </h3>

            <div class="flex flex-col gap-2">
              <div class="flex gap-[6px]">
                {
                  Array.from({ length: 5 }, (_, i) => (
                    <Star fill="#FFCC00" color="#FFCC00" class="h-5 w-5" />
                  ))
                }
              </div>
              <p class="small-text md:text-para">120+ Reviews</p>
            </div>
          </div>
        </div> -->
      </div>
    </section>

    <section class="section2 relative md:-mt-[100px] pb-10 md:pb-28">
      <div
        class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
      >
        {
          orgBenefits.map(({ data: { benefits } }) =>
            benefits.map(
              (benefits, index) =>
                index < 3 && (
                  <Card.Root
                    class="overflow-hidden border-4 bg-card-bg border-career-card rounded-[20px] shadow-nav text-center"
                    onmousemove="updateGradient(event)"
                    style={`--gradient-x: ${gradientX}px; --gradient-y: ${gradientY}px;`}
                  >
                    <div
                      class="card-custom-inner p-8"
                      style={`--gradient-x: ${gradientX}px; --gradient-y: ${gradientY}px;`}
                      onmousemove="updateGradient(event)"
                    >
                      <Card.Header class="p-0">
                        <Icon iconName={benefits.iconName} />
                      </Card.Header>
                      <Card.Content class="p-0 text-left flex flex-col tracking-tight">
                        <Card.Title class="pt-5 text-fifth-color text-[18px] leading-[22px] md:text-[22px] md:leading-[28px] tracking-[0.02em] font-manrope">
                          {benefits.title}
                        </Card.Title>
                        <p class="pt-5 small-text md:text-para font-inter text-fourth-color">
                          {benefits.description}
                        </p>
                      </Card.Content>
                    </div>
                  </Card.Root>
                )
            )
          )
        }
      </div>
    </section>

    <section class="section3 py-10 md:py-40 section-bg">
      <div class="container">
        <div
          class="flex mx-auto max-w-2xl flex-col items-center justify-center"
        >
          <Badge variant="outline" class="py-1">
						<KeyRound class="mr-1" size={18} />
						<span class="text-xs font-bold md:text-sm tracking-wider font-manrope">Opportunity</span>
					</Badge>
          <SectionTitle
            text="Be Part Of Our Growing Team"
            primaryColorText="Find Your Perfect Role And Passion"
            class="text-center md:w-[96%]"
          />
        </div>

        <div class="md:pt-10 flex flex-col gap-6">
          {
            careers.map(({ data }) => (
              <div class="bg-card-bg px-3 py-6 md:p-10 flex flex-col gap-4 rounded-[20px]">
                <div class="flex flex-col md:items-center md:justify-between gap-6 md:flex-row md:gap-10">
                  <h4 class="text-[18px] leading-[22px] md:text-[22px] md:leading-[28px] tracking-[0.02em] font-manrope text-fifth-color">
                    {data.title}
                  </h4>
                  <div class="flex gap-4">
                    {data.tags.map((tag) => (
                      <p class="px-2 md:px-4 py-2 text-[12px] md:text-small font-medium bg-[#f5f5f5] dark:bg-[#030712] rounded-[6px] text-fifth-color">
                        {tag}
                      </p>
                    ))}
                  </div>
                </div>
                <div class="flex flex-col md:flex-row gap-4 justify-between items-start md:items-end">
                  <p class="md:w-4/5 small-text md:text-para font-inter text-fourth-color">
                    {data.overview}
                  </p>
                  <Button href=`${BASE_URL}/careers/jobs/${data.slug}/` class="button-bg"> Apply Now </Button>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <section class="section4 py-10 md:py-40 section-bg">
      <div class="container">
        <div
          class="flex mx-auto max-w-2xl flex-col items-center justify-center"
        >
        <Badge variant="outline" class="py-1">
          <KeyRound class="mr-1" size={18} />
          <span class="text-xs font-bold md:text-sm tracking-wider font-manrope">Benefits</span>
        </Badge>
          <SectionTitle
          text="Our Spport To"
          primaryColorText="Your Growth And Well-Being"
            class="text-center md:w-[96%]"
          />
        </div>
        <div class="md:pt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {
            orgBenefits.map(({ data: { benefits } }) =>
            benefits.slice(3).map((benefits) => (
                <Card.Root
                  class="overflow-hidden border-4 bg-card-bg border-career-card rounded-[20px] shadow-nav text-center"
                  onmousemove="updateGradient(event)"
                  style={`--gradient-x: ${gradientX}px; --gradient-y: ${gradientY}px;`}
                >
                  <div
                    class="card-custom-inner p-8"
                    style={`--gradient-x: ${gradientX}px; --gradient-y: ${gradientY}px;`}
                    onmousemove="updateGradient(event)"
                  >
                    <Card.Header class="p-0">
                      <Icon iconName={benefits.iconName} />
                    </Card.Header>
                    <Card.Content class="p-0 text-left flex flex-col text-[#141414] tracking-tight">
                      <Card.Title class="pt-5 text-fifth-color text-[18px] leading-[22px] md:text-[22px] md:leading-[28px] tracking-[0.02em] font-manrope">
                        {benefits.title}
                      </Card.Title>
                      <p class="pt-5 small-text md:text-para font-inter text-fourth-color">
                        {benefits.description}
                      </p>
                    </Card.Content>
                  </div>
                </Card.Root>
              ))
            )
          }
        </div>
      </div>
    </section>

    <section class="section5 py-10 md:py-40 section-bg">
      <div class="container">
        <div
          class="flex mx-auto max-w-2xl flex-col items-center justify-center"
        >
          <Badge variant="outline" class="py-1">
            <KeyRound class="mr-1" size={18} />
            <span class="text-xs font-bold md:text-sm tracking-wider font-manrope">Moments</span>
          </Badge>
          <SectionTitle

            text="Together, We Celebrate "
             primaryColorText="Growth, Unity, Success & Joyful Moments"
            class="text-center"
          />
        </div>

        <div>
          {lifeImages.map(({data : {images}}) => (
            <ImageCarousel client:load {images}>
            </ImageCarousel>
          ))}
        </div>
      </div>
    </section>

    <section class="section6 py-10 md:py-40 section-bg">
      <div class="container">
        <div
          class="flex mx-auto max-w-2xl flex-col items-center justify-center"
        >
          <Badge variant="outline" class="py-1">
            <KeyRound class="mr-1" size={18} />
            <span class="text-xs font-bold md:text-sm tracking-wider font-manrope">Testimonials</span>
          </Badge>
          <SectionTitle
            primaryColorText="Through Their Eyes"
            text="Life At Improwised,"
            class="text-center md:w-3/4"
          />
        </div>

      </div>
      <div class="max-md:container">
        {reviews.map(({data: {reviews}}) => (
          <ReviewCarousel {reviews} client:load/>
        ))}
      </div>
    </section>

    <section class="py-10 md:py-40 section-bg">
      <div class="container">
        <div class="flex flex-col md:flex-row gap-10 lg:gap-20">
          <div class="flex items-center md:items-start flex-col">
            <Badge variant="outline" class="py-1">
              <CalendarFold class="mr-1" size={18} />
              <span class="text-xs font-bold md:text-sm tracking-wider font-manrope">FAQS</span>
            </Badge>
            <SectionTitle
              class="md:w-3/5"
              text="Asked Question"
              primaryColorText="Frequently"
              isPrimaryTextInitial={true}
            />
            <p>
              Get quick answers to common queries. Explore our FAQs for helpful insights and solutions.
            </p>
          </div>

          <div class="md:w-1/2">
            <!-- <ContactFAQ client:load /> -->
            <Accordion client:load {faqs} />
          </div>
        </div>
      </div>
    </section>

    <CTASection />
  </main>
</Layout>

<script is:inline>
  function updateGradient(event) {
    const rect = event.currentTarget.getBoundingClientRect();
    gradientX = event.clientX - rect.left;
    gradientY = event.clientY - rect.top;

    // Update the style dynamically
    const target = event.currentTarget;
    target.style.setProperty("--gradient-x", `${gradientX}px`);
    target.style.setProperty("--gradient-y", `${gradientY}px`);
  }
</script>

<style>
  @reference "tailwindcss";
  /* .bg-career {
    background-image: url("../images/careers/dot.svg"),
      url("../images/careers/gradient-2.svg");
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    position: relative;

    @variant dark {
      background-image: none;
    }
  } */

  .bg-color {
    background: rgb(245, 245, 245);
    background: linear-gradient(
      0deg,
      rgba(245, 245, 245, 0.6) 0%,
      rgba(245, 245, 245, 0.1) 100%
    );

    @variant dark {
      background: none;
    }
  }
</style>
