---
import Layout from "$lib/layouts/Layout.astro";
import { BASE_URL } from "$lib/consts";
import CTASection from "$lib/components/CTASection.astro";

import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { getCollection } from "astro:content";
import backImage from "$lib/images/casestudies/back.svg";
const casestudies = await getCollection("casestudies");
import CaseStudyCarouselImage from "$lib/components/common/CaseStudyCarouselImage.svelte";
const categories = [...new Set(casestudies.map((cs) => cs.data.category))];

// Meta title and description
const seoContents = await getCollection('seocontent');
const [{title, description}] = (seoContents[0].data).filter((content) => content.slug == "case-studies")
---

<Layout title={title} description={description}>
  <main class="main-content">
    <section
      class="section1 flex flex-col items-center justify-center text-center px-6 bg-image relative pt-30 pb-20 md:pt-80 md:pb-[240px]"
    >
      <!-- Main Heading -->
      <h1
        class="font-manrope mt-4 mb-6 max-md:text-center main-heading-small md:main-heading text-main-heading-color"
      >
        Explore How We Turn<br />
        <span class="text-sub-heading-color">Vision into Reality</span>
      </h1>

      <!-- Subtext -->
      <p class="mt-4 text-para max-w-2xl mx-auto text-third-color">
        We demonstrate business impact in our case studies through strategic development, faster releases and automation, leading to reduced costs.
      </p>


    </section>

    <section class="section py-10 md:py-30 section-bg flex flex-col gap-20">
    {
      categories.map((category) => {
        // Filter case studies by category
        const filteredStudies = casestudies.filter(
          (cs) => cs.data.category === category,
        );

        return (
            <div class="container">
              <div class="flex items-center justify-between mb-8">
                <div>
                  <SectionTitle text={category} class="mb-0"/>
                </div>
              </div>
              <div class="relative overflow-x-clip">
                <div class="flex justify-center">
                  <CaseStudyCarouselImage
                    baseUrl={BASE_URL}
                    client:load
                    casestudies={filteredStudies}
                  />
                </div>
              </div>
            </div>
        );
      })
    }
    </section>

    <CTASection />
  </main>
</Layout>

<style>
  .bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
