---
import { Badge } from "$lib/components/ui/badge";
import { Image } from "astro:assets";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import cardPattern1 from "$lib/images/card-pattern-1.png";
import cardPattern2 from "$lib/images/card-pattern-2.png";
import benefitsImage from "$lib/images/benefits.png";
import { getCollection } from "astro:content";
const benefits = await getCollection("benefits");
---

<section class="section pb-40">
	<div class="relative p-6 md:p-16">
		<div class="relative z-10 lg:grid lg:grid-cols-12">
			<!-- Section's heading and tab navigation -->
			<div
				class="mb-10 lg:order-2 lg:col-span-6 lg:col-start-7 lg:mb-0 pl-20"
			>
				<div class="max-md:text-center">
					<Badge
						class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
						variant="outline">Benefits</Badge
					>
					<SectionTitle text="Empowering" primaryColorText="Growth" />
					<p
						class="mb-10 text-xl max-md:text-center"
						data-aos="fade-up"
					>
						Optimize your operations with solutions crafted for
						every need.
					</p>
				</div>
				<div class="lg:col-span-2">
					<div class="grid gap-8 sm:grid-cols-2 md:gap-12">
						{
							benefits.map((benefit, index) => (
								<>
									<div class="flex gap-x-5">
										<Image
											src={benefit.data.icon}
											alt={benefit.data.title}
											class="text-primary mt-1 h-8 w-8 flex-shrink-0"
											style="filter: var(--primary-filter);"
										/>
										<div class="grow">
											<h3 class="text-balance text-lg font-bold text-neutral-800 dark:text-neutral-200">
												{benefit.data.title}
											</h3>

											<p class="mt-1 text-pretty text-neutral-700 dark:text-neutral-300">
												{benefit.data.description}
											</p>
										</div>
									</div>
								</>
							))
						}
					</div>
				</div>
			</div>
			<!-- Contents for each tab - the 'first' attribute should be used in the first tab for that tab to be initially visible, 'second' changes the styles -->
			<div class="lg:col-span-6">
				<div class="relative">
					<div>
						<div class="relative">
							<div
								class="shape bg-dot primary rellax !w-[7rem] !h-[9rem] absolute z-[1] opacity-50 !bg-[radial-gradient(#6cb33f_2px,transparent_2.5px)]"
							>
							</div>
							<div
								class="shape shape2 rounded max-md:hidden !bg-darkgreen rellax xl:block lg:block md:block absolute z-[1]"
							>
							</div>

							<figure class="rounded-[0.4rem] relative z-[2]">
								<div
									class="w-[100%] xl:w-[75%] min-h-full false aos-init aos-animate"
									data-aos="fade-right-sm"
									data-aos-delay="200"
								>
									<div
										class="rounded-2xl relative overflow-hidden undefined"
									>
										<Image
											src={cardPattern1}
											alt="pattern"
											class="absolute bottom-0 left-0 w-1/3"
											width="0"
											height="0"
										/>
										<Image
											src={cardPattern2}
											alt="pattern"
											class="absolute top-0 right-[-9%] w-1/3"
											width="0"
											height="0"
										/>

										<div class="h-full bg-theme-light">
											<div
												class="h-1/3 w-auto p-8 md:p-20"
											>
												<Image
													src={benefitsImage}
													alt="feature"
													loading="lazy"
													decoding="async"
													class="flex justify-center items-center object-contain image-card relative z-10"
													width="512"
													height="482"
												/>
											</div>
										</div>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="absolute inset-0 grid h-full w-full grid-cols-12">
			<div
				class="col-span-full h-5/6 w-full rounded-xl bg-white dark:bg-white/[.075] sm:h-3/4 lg:col-span-8 lg:col-start-5 lg:h-full shadow-nav"
			>
			</div>
		</div>
	</div>
</section>
