---
import { BASE_URL } from "../consts";
import { Image } from "astro:assets";
import Logo from "$lib/images/logo-white.png";
import { Linkedin, Facebook } from "lucide-svelte";
import { getCollection, getEntry } from "astro:content";
const services = await getCollection("services");
---

<footer
  class="border-t border-foreground bg-darkgreen text-gray-300 py-8 w-full"
>
  <div
    class="bg-gradient-radial left-1/3 absolute right-0 top-0 -z-10 h-96 w-1/3 blur-2xl"
  >
  </div>
  <div
    class="bg-gradient-radial absolute left-1/3 top-10 -z-10 h-96 w-1/3 blur-2xl"
  >
  </div>
  <div class="w-full container mx-auto px-4 sm:px-8">
    <nav
      aria-label="Secondary"
      class="flex flex-col lg:flex-row links-start justify-between gap-12 py-8 md:py-12"
    >
      <div class="flex flex-col md:max-lg:w-1/2 lg:max-w-screen-sm">
        <Image alt="improwised" src={Logo} class="w-[200px]" />
        <p class="pt-5 text-astro-gray-200 lg:text-balance">
          Boost developer efficiency with platform engineering, delivering
          scalable internal developer platforms across cloud-native, hybrid, and
          multicloud architectures.
        </p>
      </div>
      <div
        class="grid grid-cols-2 gap-12 sm:flex sm:flex-wrap sm:gap-16 lg:gap-20"
      >
        <section class="group flex flex-col">
          <h2 id="footerHeading0" class="mb-4 font-bold text-white">Company</h2>
          <ul aria-labelledby="footerHeading0" class="flex flex-col gap-2">
            <li>
              <a
                href=`${BASE_URL}/contactus`
                class="whitespace-nowrap link hover:text-primary"
              >
                Contact Us
              </a>
            </li><li>
              <a
                href=`${BASE_URL}/privacy-policy`
                class="whitespace-nowrap link hover:text-primary"
              >
                Privacy Policy
              </a>
            </li><li>
              <a
                href=`${BASE_URL}/terms-of-use`
                class="whitespace-nowrap link hover:text-primary"
              >
                Terms Of Use
              </a>
            </li>
          </ul>
        </section>
        <section class="group flex flex-col">
          <h2 id="footerHeading1" class="mb-4 font-bold text-white">About</h2>
          <ul aria-labelledby="footerHeading1" class="flex flex-col gap-2">
            <li>
              <a
                href=`${BASE_URL}/aboutus`
                class="whitespace-nowrap link hover:text-primary"
              >
                About us
              </a>
            </li><li>
              <a
                href=`${BASE_URL}careers`
                class="whitespace-nowrap link hover:text-primary"
              >
                Careers
              </a>
            </li>
            <li>
              <a
                href=`${BASE_URL}/blogs`
                class="whitespace-nowrap link hover:text-primary"
              >
                Blogs
              </a>
            </li>
          </ul>
        </section>
        <section class="group flex flex-col">
          <h2 id="footerHeading1" class="mb-4 font-bold text-white">
            Services
          </h2>
          <ul aria-labelledby="footerHeading1" class="flex flex-col gap-2">
            {
              services.map((service, index) => (
                <>
                  <li>
                    <a
                      href={BASE_URL + "/services/" + service?.data.slug}
                      class="whitespace-nowrap link hover:text-primary"
                    >
                      {service.data.title}
                    </a>
                  </li>
                </>
              ))
            }
          </ul>
        </section>
      </div>
    </nav>
    <hr class="border-astro-gray-500" />
    <nav
      aria-label="Legal"
      class="py-8 flex flex-col-reverse sm:flex-row items-center justify-between gap-4"
    >
      <div class="flex items-center gap-4">
        <a target="_blank" class="link" href=`${BASE_URL}`>
          Building scalable web application since 2011.&nbsp;
        </a>
        <a
          class="link"
          target="_blank"
          href="https://github.com/orgs/Improwised/people"
        >
          Our Contributors
        </a>
      </div>
      <div class="flex items-center gap-4">
        <a
          target="_blank"
          rel="noopener noreferer"
          class="link flex items-center gap-2 text-white"
          href="https://www.facebook.com/improwised"
        >
          <span class="sr-only">Join the Improwised on Facebook</span>
          <Facebook width="24" height="24" astro-icon="social/facebook" />
        </a>
        <a
          target="_blank"
          rel="noopener noreferer"
          class="link flex items-center gap-2 text-white"
          href="https://www.linkedin.com/company/improwised-technologies/"
        >
          <span class="sr-only">Go to Improwised's Linkedin</span>
          <Linkedin width="24" height="24" astro-icon="social/linkedin" />
        </a>
        <a
          target="_blank"
          rel="noopener noreferer"
          class="link flex items-center gap-2 text-white"
          href="https://x.com/improwised"
        >
          <span class="sr-only"
            >Follow Improwised on x.com (formerly Twitter)</span
          >
          <svg
            viewBox="0 0 24 24"
            aria-hidden="true"
            width="24"
            height="24"
            astro-icon="social/twitter"
            ><path
              fill="currentColor"
              d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
            ></path></svg
          >
        </a>
      </div>
    </nav>
  </div>
</footer>
