---

import { Image } from "astro:assets";
import { Button } from "$lib/components/ui/button";
import { Badge } from "$lib/components/ui/badge";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import hero from "$lib/images/hero.png";
import patternBg from "$lib/images/patternBg.svg";
import patternBg2 from "$lib/images/patternBg.webp";
import cl1 from "$lib/images/1.svg";
import cl2 from "$lib/images/2.svg";
import cl3 from "$lib/images/3.svg";
import cl4 from "$lib/images/4.svg";
import cl5 from "$lib/images/5.svg";


---

<section class="section1 pb-40">
    <div class="relative items-center justify-between">
        <section class="section container">
            <svg
            class="absolute top-0 left-0 w-full h-full pointer-events-none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <line
                x1="50%"
                y1="0"
                x2="50%"
                y2="100%"
                class="line stroke-black"></line>
            <line
                x1="66.2%"
                y1="0"
                x2="66.2%"
                y2="100%"
                class="line stroke-black"></line>
            <line
                x1="82.5%"
                y1="0"
                x2="82.5%"
                y2="100%"
                class="line stroke-black"></line>

            <!-- Highlight Lines -->

            <line
                x1="50%"
                y1="0"
                x2="50%"
                y2="100%"
                class="highlight stroke-green animate-highlight delay-450"
            ></line>
            <line
                x1="66.2%"
                y1="0"
                x2="66.2%"
                y2="100%"
                class="highlight stroke-green animate-highlight delay-600"
            ></line>
            <line
                x1="82.5%"
                y1="0"
                x2="82.5%"
                y2="100%"
                class="highlight stroke-green animate-highlight delay-750"
            ></line>
        </svg>

            <div class="py-20">
                <main
                    class="grid lg:grid-cols-5 place-items-center relative"
                    data-aos="fade-up"
                >
                    <div
                        class="max-w md:max-w-max lg:col-span-2"
                        data-aos="fade-up"
                    >
                        <!-- <div
                        class="flex gap-[0.625rem] mb-6 max-md:justify-center"
                    >
                        <div
                            class="h-[0.625rem] w-[0.625rem] bg-primary rounded-full"
                        >
                        </div>
                        <div
                            class="h-[0.625rem] w-[0.625rem] bg-darkgreen rounded-full"
                        >
                        </div>
                        <div
                            class="h-[0.625rem] w-[0.625rem] bg-primary rounded-full"
                        >
                        </div>
                    </div> -->
                        <div
                            class="max-md:justify-center flex items-center w-full aos-init aos-animate"
                            data-aos="fade-up"
                        >
                            <Badge
                                class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
                                variant="outline">Transform Your Operations With</Badge
                            >
                        </div>
                        <div>
                            <SectionTitle
                                text="Empowering Your Digital Transformation Journey"
                            />

                            <p
                                class="mb-10 text-xl max-md:text-center"
                                data-aos="fade-up"
                            >
                            We deliver software development strategies designed for seamless execution and measurable success.
                            </p>
                            <div
                                class="max-md:justify-center flex items-center flex-wrap   gap-4"
                            >
                                <Button href="#">Get Started</Button>
                                <Button href="#" variant="outline">
                                   Explore More
                                </Button>
                            </div>
                        </div>
                    </div>
                    <div
                        class="lg:col-span-3 justify-self-end"
                        data-aos="zoom-out"
                    >
                        <Image
                            src={hero}
                            alt="hero"
                            loading="lazy"
                            decoding="async"
                            class="mx-auto"
                            width="778"
                            height="555"
                        />
                    </div>
                </main>
            </div>
        </section>
        <Image
            src={patternBg}
            alt="pattern"
            loading="lazy"
            decoding="async"
            class="absolute top-0 left-0 -z-10 object-cover w-[168%] h-full"
            width="1440"
            height="697"
        />

        <div
            class="border-y border-border backdrop-blur-[80px] w-full aos-init bg-white"
            data-aos="fade-up"
        >
            <div
                class="flex max-md:flex-wrap justify-center items-center mx-auto md:w-3/4 lg:1/2 xl:w-full"
            >
                <div
                    class="border-dashed max-md:w-1/5 md:first:border-l md:border-r md:border-border px-4 xl:px-7 py-6 xl:py-9"
                >
                    <Image
                        src={cl1}
                        alt="hero"
                        loading="lazy"
                        decoding="async"
                        class="mx-auto"
                        width="179"
                        height="48"
                    />
                </div>
                <div
                    class="border-dashed max-md:w-1/5 md:first:border-l md:border-r md:border-border px-4 xl:px-7 py-6 xl:py-9"
                >
                    <Image
                        src={cl2}
                        alt="hero"
                        loading="lazy"
                        decoding="async"
                        class="mx-auto"
                        width="179"
                        height="48"
                    />
                </div>
                <div
                    class="border-dashed max-md:w-1/5 md:first:border-l md:border-r md:border-border px-4 xl:px-7 py-6 xl:py-9"
                >
                    <Image
                        src={cl3}
                        alt="hero"
                        loading="lazy"
                        decoding="async"
                        class="mx-auto"
                        width="179"
                        height="48"
                    />
                </div>
                <div
                    class="border-dashed max-md:w-1/5 md:first:border-l md:border-r md:border-border px-4 xl:px-7 py-6 xl:py-9"
                >
                    <Image
                        src={cl4}
                        alt="hero"
                        loading="lazy"
                        decoding="async"
                        class="mx-auto"
                        width="179"
                        height="48"
                    />
                </div>
                <div
                    class="border-dashed max-md:w-1/5 md:first:border-l md:border-r md:border-border px-4 xl:px-7 py-6 xl:py-9"
                >
                    <Image
                        src={cl5}
                        alt="hero"
                        loading="lazy"
                        decoding="async"
                        class="mx-auto"
                        width="179"
                        height="48"
                    />
                </div>
            </div>
        </div>
    </div>
    <div
        class="relative overflow-hidden bg-primary aos-init aos-animate"
        data-aos="fade-in"
    >
        <Image
            src={patternBg2}
            alt="pattern"
            loading="lazy"
            decoding="async"
            class="absolute top-0 left-0 z-10 object-cover w-full h-full"
            width="2048"
            height="1995"
        />
    </div>
</section>
