---
import { Badge } from "$lib/components/ui/badge";
import { Image } from "astro:assets";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import photoImage from "$lib/images/photo.png";
import photo2Image from "$lib/images/photo2.png";
import photo3Image from "$lib/images/photo3.png";
import photo4Image from "$lib/images/photo4.png";
import photo5Image from "$lib/images/photo5.png";
import photo6Image from "$lib/images/photo6.png";
import * as Card from "$lib/components/ui/card";
---

<div class="section pb-20">
	<div
		class="text-center mx-auto flex max-w-3xl flex-col items-center justify-center px-5"
	>
		<Badge
			class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
			variant="outline">TRUST</Badge
		>
		<SectionTitle text="Client Testimonials" />
		<p class="mb-10 text-xl max-md:text-center" data-aos="fade-up">
			Boost developer efficiency with platform engineering, delivering
			scalable internal developer platforms across cloud-native, hybrid,
			and multicloud architectures.
		</p>
	</div>

	<div class="relative overflow-x-clip">
		<div
			class="bg-gradient-radial from-theme-green-200 absolute -top-10 right-1/3 -z-10 h-96 w-96 blur-2xl"
		>
		</div>
		<div
			class="bg-gradient-radial absolute right-1/3 top-10 -z-10 h-96 w-96 translate-x-2/3 from-theme-green-100 blur-2xl"
		>
		</div>
		<div class="group relative gap-10 overflow-hidden py-5 md:flex">
			<div
				class="md:motion-safe:animate-marquee flex w-auto min-w-full shrink-0 snap-x snap-mandatory flex-nowrap items-stretch gap-10 overflow-x-auto px-5 py-5"
			>
				<Card.Root
					class="relative flex w-[calc(100vw-5.75rem)] max-w-md shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
				>
					<div class="">
						<Card.Header>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 800 419"
								class="bg-shape-custom"
								><g clip-path="url(#clip0_302_2944)"
									><g
										><g
											stroke="currentColor"
											stroke-opacity="0.1"
											><path
												d="M882-29c0 78-31.096 176.998-220.184 176.998C537.454 147.998 464 259.996 464 353.086V495"
											></path><path
												d="M883 8c0 68-7.369 176.361-193.548 176.361-124.362 0-192.725 109.089-192.725 202.179V489"
											></path><path
												d="M882 89c0 68.363-22.369 133.178-184.548 133.178-124.363 0-160.726 100.363-160.726 193.453V503"
											></path><path
												d="M881 138c0 73-12.101 119.087-146.458 119.087-124.362 0-158.543 92.363-158.543 185.452V479"
											></path></g
										></g
									></g
								><defs
									><clipPath id="clip0_302_2944"
										><path
											fill="#fff"
											d="M0 0H800V419H0z"
											transform="matrix(-1 0 0 1 800 0)"
										></path></clipPath
									></defs
								></svg
							>
							<blockquote
								class="text-lg [text-wrap:balance] md:text-xl"
							>
								Improwised has been a lifesaver for our finance
								department. Its robust accounting features and
								automated invoicing have saved us countless
								hours of manual work. It's the perfect financial
								companion for any business!
							</blockquote>
						</Card.Header>

						<Card.Footer>
							<div class="mt-10 flex items-center gap-3">
								<div class="shrink-0">
									<Image
										src={photo6Image}
										class="h-12 w-12 rounded-full bg-slate-100 object-cover"
										alt="Sarah Martinez"
										loading="lazy"
										width="48"
										height="48"
										decoding="async"
									/>
								</div>
								<div>
									<h2 class="font-medium text-slate-800">
										Sarah Martinez
									</h2>
									<p class="text-sm text-slate-600">
										Finance Controller at MoneyMakers
									</p>
								</div>
							</div>
						</Card.Footer>
					</div>
				</Card.Root>
				<Card.Root
					class="relative flex w-[calc(100vw-5.75rem)] max-w-md shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
				>
					<div class="">
						<Card.Header>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 800 419"
								class="bg-shape-custom"
								><g clip-path="url(#clip0_302_2944)"
									><g
										><g
											stroke="currentColor"
											stroke-opacity="0.1"
											><path
												d="M882-29c0 78-31.096 176.998-220.184 176.998C537.454 147.998 464 259.996 464 353.086V495"
											></path><path
												d="M883 8c0 68-7.369 176.361-193.548 176.361-124.362 0-192.725 109.089-192.725 202.179V489"
											></path><path
												d="M882 89c0 68.363-22.369 133.178-184.548 133.178-124.363 0-160.726 100.363-160.726 193.453V503"
											></path><path
												d="M881 138c0 73-12.101 119.087-146.458 119.087-124.362 0-158.543 92.363-158.543 185.452V479"
											></path></g
										></g
									></g
								><defs
									><clipPath id="clip0_302_2944"
										><path
											fill="#fff"
											d="M0 0H800V419H0z"
											transform="matrix(-1 0 0 1 800 0)"
										></path></clipPath
									></defs
								></svg
							>
							<blockquote
								class="text-lg [text-wrap:balance] md:text-xl"
							>
								Improwised has been a lifesaver for our finance
								department. Its robust accounting features and
								automated invoicing have saved us countless
								hours of manual work. It's the perfect financial
								companion for any business!
							</blockquote>
						</Card.Header>

						<Card.Footer>
							<div class="mt-10 flex items-center gap-3">
								<div class="shrink-0">
									<Image
										src={photoImage}
										class="h-12 w-12 rounded-full bg-slate-100 object-cover"
										alt="Sarah Martinez"
										loading="lazy"
										width="48"
										height="48"
										decoding="async"
									/>
								</div>
								<div>
									<h2 class="font-medium text-slate-800">
										Sarah Martinez
									</h2>
									<p class="text-sm text-slate-600">
										Finance Controller at MoneyMakers
									</p>
								</div>
							</div>
						</Card.Footer>
					</div>
				</Card.Root>
				<Card.Root
					class="relative flex w-[calc(100vw-5.75rem)] max-w-md shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
				>
					<div class="">
						<Card.Header>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 800 419"
								class="bg-shape-custom"
								><g clip-path="url(#clip0_302_2944)"
									><g
										><g
											stroke="currentColor"
											stroke-opacity="0.1"
											><path
												d="M882-29c0 78-31.096 176.998-220.184 176.998C537.454 147.998 464 259.996 464 353.086V495"
											></path><path
												d="M883 8c0 68-7.369 176.361-193.548 176.361-124.362 0-192.725 109.089-192.725 202.179V489"
											></path><path
												d="M882 89c0 68.363-22.369 133.178-184.548 133.178-124.363 0-160.726 100.363-160.726 193.453V503"
											></path><path
												d="M881 138c0 73-12.101 119.087-146.458 119.087-124.362 0-158.543 92.363-158.543 185.452V479"
											></path></g
										></g
									></g
								><defs
									><clipPath id="clip0_302_2944"
										><path
											fill="#fff"
											d="M0 0H800V419H0z"
											transform="matrix(-1 0 0 1 800 0)"
										></path></clipPath
									></defs
								></svg
							>
							<blockquote
								class="text-lg [text-wrap:balance] md:text-xl"
							>
								Improwised has been a lifesaver for our finance
								department. Its robust accounting features and
								automated invoicing have saved us countless
								hours of manual work. It's the perfect financial
								companion for any business!
							</blockquote>
						</Card.Header>

						<Card.Footer>
							<div class="mt-10 flex items-center gap-3">
								<div class="shrink-0">
									<Image
										src={photo2Image}
										class="h-12 w-12 rounded-full bg-slate-100 object-cover"
										alt="Sarah Martinez"
										loading="lazy"
										width="48"
										height="48"
										decoding="async"
									/>
								</div>
								<div>
									<h2 class="font-medium text-slate-800">
										Sarah Martinez
									</h2>
									<p class="text-sm text-slate-600">
										Finance Controller at MoneyMakers
									</p>
								</div>
							</div>
						</Card.Footer>
					</div>
				</Card.Root>
				<Card.Root
					class="relative flex w-[calc(100vw-5.75rem)] max-w-md shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
				>
					<div class="">
						<Card.Header>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 800 419"
								class="bg-shape-custom"
								><g clip-path="url(#clip0_302_2944)"
									><g
										><g
											stroke="currentColor"
											stroke-opacity="0.1"
											><path
												d="M882-29c0 78-31.096 176.998-220.184 176.998C537.454 147.998 464 259.996 464 353.086V495"
											></path><path
												d="M883 8c0 68-7.369 176.361-193.548 176.361-124.362 0-192.725 109.089-192.725 202.179V489"
											></path><path
												d="M882 89c0 68.363-22.369 133.178-184.548 133.178-124.363 0-160.726 100.363-160.726 193.453V503"
											></path><path
												d="M881 138c0 73-12.101 119.087-146.458 119.087-124.362 0-158.543 92.363-158.543 185.452V479"
											></path></g
										></g
									></g
								><defs
									><clipPath id="clip0_302_2944"
										><path
											fill="#fff"
											d="M0 0H800V419H0z"
											transform="matrix(-1 0 0 1 800 0)"
										></path></clipPath
									></defs
								></svg
							>
							<blockquote
								class="text-lg [text-wrap:balance] md:text-xl"
							>
								Improwised has been a lifesaver for our finance
								department. Its robust accounting features and
								automated invoicing have saved us countless
								hours of manual work. It's the perfect financial
								companion for any business!
							</blockquote>
						</Card.Header>

						<Card.Footer>
							<div class="mt-10 flex items-center gap-3">
								<div class="shrink-0">
									<Image
										src={photoImage}
										class="h-12 w-12 rounded-full bg-slate-100 object-cover"
										alt="Sarah Martinez"
										loading="lazy"
										width="48"
										height="48"
										decoding="async"
									/>
								</div>
								<div>
									<h2 class="font-medium text-slate-800">
										Sarah Martinez
									</h2>
									<p class="text-sm text-slate-600">
										Finance Controller at MoneyMakers
									</p>
								</div>
							</div>
						</Card.Footer>
					</div>
				</Card.Root>
				<Card.Root
					class="relative flex w-[calc(100vw-5.75rem)] max-w-md shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
				>
					<div class="">
						<Card.Header>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 800 419"
								class="bg-shape-custom"
								><g clip-path="url(#clip0_302_2944)"
									><g
										><g
											stroke="currentColor"
											stroke-opacity="0.1"
											><path
												d="M882-29c0 78-31.096 176.998-220.184 176.998C537.454 147.998 464 259.996 464 353.086V495"
											></path><path
												d="M883 8c0 68-7.369 176.361-193.548 176.361-124.362 0-192.725 109.089-192.725 202.179V489"
											></path><path
												d="M882 89c0 68.363-22.369 133.178-184.548 133.178-124.363 0-160.726 100.363-160.726 193.453V503"
											></path><path
												d="M881 138c0 73-12.101 119.087-146.458 119.087-124.362 0-158.543 92.363-158.543 185.452V479"
											></path></g
										></g
									></g
								><defs
									><clipPath id="clip0_302_2944"
										><path
											fill="#fff"
											d="M0 0H800V419H0z"
											transform="matrix(-1 0 0 1 800 0)"
										></path></clipPath
									></defs
								></svg
							>
							<blockquote
								class="text-lg [text-wrap:balance] md:text-xl"
							>
								Improwised has been a lifesaver for our finance
								department. Its robust accounting features and
								automated invoicing have saved us countless
								hours of manual work. It's the perfect financial
								companion for any business!
							</blockquote>
						</Card.Header>

						<Card.Footer>
							<div class="mt-10 flex items-center gap-3">
								<div class="shrink-0">
									<Image
										src={photo5Image}
										class="h-12 w-12 rounded-full bg-slate-100 object-cover"
										alt="Sarah Martinez"
										loading="lazy"
										width="48"
										height="48"
										decoding="async"
									/>
								</div>
								<div>
									<h2 class="font-medium text-slate-800">
										Sarah Martinez
									</h2>
									<p class="text-sm text-slate-600">
										Finance Controller at MoneyMakers
									</p>
								</div>
							</div>
						</Card.Footer>
					</div>
				</Card.Root>
			</div>
			<div
				class="md:motion-safe:animate-marquee flex w-auto min-w-full shrink-0 snap-x snap-mandatory flex-nowrap items-stretch gap-10 overflow-x-auto px-5 py-5"
			>
				<Card.Root
					class="relative flex w-[calc(100vw-5.75rem)] max-w-md shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
				>
					<div class="">
						<Card.Header>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 800 419"
								class="bg-shape-custom"
								><g clip-path="url(#clip0_302_2944)"
									><g
										><g
											stroke="currentColor"
											stroke-opacity="0.1"
											><path
												d="M882-29c0 78-31.096 176.998-220.184 176.998C537.454 147.998 464 259.996 464 353.086V495"
											></path><path
												d="M883 8c0 68-7.369 176.361-193.548 176.361-124.362 0-192.725 109.089-192.725 202.179V489"
											></path><path
												d="M882 89c0 68.363-22.369 133.178-184.548 133.178-124.363 0-160.726 100.363-160.726 193.453V503"
											></path><path
												d="M881 138c0 73-12.101 119.087-146.458 119.087-124.362 0-158.543 92.363-158.543 185.452V479"
											></path></g
										></g
									></g
								><defs
									><clipPath id="clip0_302_2944"
										><path
											fill="#fff"
											d="M0 0H800V419H0z"
											transform="matrix(-1 0 0 1 800 0)"
										></path></clipPath
									></defs
								></svg
							>
							<blockquote
								class="text-lg [text-wrap:balance] md:text-xl"
							>
								Improwised has been a lifesaver for our finance
								department. Its robust accounting features and
								automated invoicing have saved us countless
								hours of manual work. It's the perfect financial
								companion for any business!
							</blockquote>
						</Card.Header>

						<Card.Footer>
							<div class="mt-10 flex items-center gap-3">
								<div class="shrink-0">
									<Image
										src={photo2Image}
										class="h-12 w-12 rounded-full bg-slate-100 object-cover"
										alt="Sarah Martinez"
										loading="lazy"
										width="48"
										height="48"
										decoding="async"
									/>
								</div>
								<div>
									<h2 class="font-medium text-slate-800">
										Sarah Martinez
									</h2>
									<p class="text-sm text-slate-600">
										Finance Controller at MoneyMakers
									</p>
								</div>
							</div>
						</Card.Footer>
					</div>
				</Card.Root>
				<Card.Root
					class="relative flex w-[calc(100vw-5.75rem)] max-w-md shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
				>
					<div class="">
						<Card.Header>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 800 419"
								class="bg-shape-custom"
								><g clip-path="url(#clip0_302_2944)"
									><g
										><g
											stroke="currentColor"
											stroke-opacity="0.1"
											><path
												d="M882-29c0 78-31.096 176.998-220.184 176.998C537.454 147.998 464 259.996 464 353.086V495"
											></path><path
												d="M883 8c0 68-7.369 176.361-193.548 176.361-124.362 0-192.725 109.089-192.725 202.179V489"
											></path><path
												d="M882 89c0 68.363-22.369 133.178-184.548 133.178-124.363 0-160.726 100.363-160.726 193.453V503"
											></path><path
												d="M881 138c0 73-12.101 119.087-146.458 119.087-124.362 0-158.543 92.363-158.543 185.452V479"
											></path></g
										></g
									></g
								><defs
									><clipPath id="clip0_302_2944"
										><path
											fill="#fff"
											d="M0 0H800V419H0z"
											transform="matrix(-1 0 0 1 800 0)"
										></path></clipPath
									></defs
								></svg
							>
							<blockquote
								class="text-lg [text-wrap:balance] md:text-xl"
							>
								Improwised has been a lifesaver for our finance
								department. Its robust accounting features and
								automated invoicing have saved us countless
								hours of manual work. It's the perfect financial
								companion for any business!
							</blockquote>
						</Card.Header>

						<Card.Footer>
							<div class="mt-10 flex items-center gap-3">
								<div class="shrink-0">
									<Image
										src={photo3Image}
										class="h-12 w-12 rounded-full bg-slate-100 object-cover"
										alt="Sarah Martinez"
										loading="lazy"
										width="48"
										height="48"
										decoding="async"
									/>
								</div>
								<div>
									<h2 class="font-medium text-slate-800">
										Sarah Martinez
									</h2>
									<p class="text-sm text-slate-600">
										Finance Controller at MoneyMakers
									</p>
								</div>
							</div>
						</Card.Footer>
					</div>
				</Card.Root>
				<Card.Root
					class="relative flex w-[calc(100vw-5.75rem)] max-w-md shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
				>
					<div class="">
						<Card.Header>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 800 419"
								class="bg-shape-custom"
								><g clip-path="url(#clip0_302_2944)"
									><g
										><g
											stroke="currentColor"
											stroke-opacity="0.1"
											><path
												d="M882-29c0 78-31.096 176.998-220.184 176.998C537.454 147.998 464 259.996 464 353.086V495"
											></path><path
												d="M883 8c0 68-7.369 176.361-193.548 176.361-124.362 0-192.725 109.089-192.725 202.179V489"
											></path><path
												d="M882 89c0 68.363-22.369 133.178-184.548 133.178-124.363 0-160.726 100.363-160.726 193.453V503"
											></path><path
												d="M881 138c0 73-12.101 119.087-146.458 119.087-124.362 0-158.543 92.363-158.543 185.452V479"
											></path></g
										></g
									></g
								><defs
									><clipPath id="clip0_302_2944"
										><path
											fill="#fff"
											d="M0 0H800V419H0z"
											transform="matrix(-1 0 0 1 800 0)"
										></path></clipPath
									></defs
								></svg
							>
							<blockquote
								class="text-lg [text-wrap:balance] md:text-xl"
							>
								Improwised has been a lifesaver for our finance
								department. Its robust accounting features and
								automated invoicing have saved us countless
								hours of manual work. It's the perfect financial
								companion for any business!
							</blockquote>
						</Card.Header>

						<Card.Footer>
							<div class="mt-10 flex items-center gap-3">
								<div class="shrink-0">
									<Image
										src={photo4Image}
										class="h-12 w-12 rounded-full bg-slate-100 object-cover"
										alt="Sarah Martinez"
										loading="lazy"
										width="48"
										height="48"
										decoding="async"
									/>
								</div>
								<div>
									<h2 class="font-medium text-slate-800">
										Sarah Martinez
									</h2>
									<p class="text-sm text-slate-600">
										Finance Controller at MoneyMakers
									</p>
								</div>
							</div>
						</Card.Footer>
					</div>
				</Card.Root>
				<Card.Root
					class="relative flex w-[calc(100vw-5.75rem)] max-w-md shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
				>
					<div class="">
						<Card.Header>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 800 419"
								class="bg-shape-custom"
								><g clip-path="url(#clip0_302_2944)"
									><g
										><g
											stroke="currentColor"
											stroke-opacity="0.1"
											><path
												d="M882-29c0 78-31.096 176.998-220.184 176.998C537.454 147.998 464 259.996 464 353.086V495"
											></path><path
												d="M883 8c0 68-7.369 176.361-193.548 176.361-124.362 0-192.725 109.089-192.725 202.179V489"
											></path><path
												d="M882 89c0 68.363-22.369 133.178-184.548 133.178-124.363 0-160.726 100.363-160.726 193.453V503"
											></path><path
												d="M881 138c0 73-12.101 119.087-146.458 119.087-124.362 0-158.543 92.363-158.543 185.452V479"
											></path></g
										></g
									></g
								><defs
									><clipPath id="clip0_302_2944"
										><path
											fill="#fff"
											d="M0 0H800V419H0z"
											transform="matrix(-1 0 0 1 800 0)"
										></path></clipPath
									></defs
								></svg
							>
							<blockquote
								class="text-lg [text-wrap:balance] md:text-xl"
							>
								Improwised has been a lifesaver for our finance
								department. Its robust accounting features and
								automated invoicing have saved us countless
								hours of manual work. It's the perfect financial
								companion for any business!
							</blockquote>
						</Card.Header>

						<Card.Footer>
							<div class="mt-10 flex items-center gap-3">
								<div class="shrink-0">
									<Image
										src={photo5Image}
										class="h-12 w-12 rounded-full bg-slate-100 object-cover"
										alt="Sarah Martinez"
										loading="lazy"
										width="48"
										height="48"
										decoding="async"
									/>
								</div>
								<div>
									<h2 class="font-medium text-slate-800">
										Sarah Martinez
									</h2>
									<p class="text-sm text-slate-600">
										Finance Controller at MoneyMakers
									</p>
								</div>
							</div>
						</Card.Footer>
					</div>
				</Card.Root>
				<Card.Root
					class="relative flex w-[calc(100vw-5.75rem)] max-w-md shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
				>
					<div class="">
						<Card.Header>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 800 419"
								class="bg-shape-custom"
								><g clip-path="url(#clip0_302_2944)"
									><g
										><g
											stroke="currentColor"
											stroke-opacity="0.1"
											><path
												d="M882-29c0 78-31.096 176.998-220.184 176.998C537.454 147.998 464 259.996 464 353.086V495"
											></path><path
												d="M883 8c0 68-7.369 176.361-193.548 176.361-124.362 0-192.725 109.089-192.725 202.179V489"
											></path><path
												d="M882 89c0 68.363-22.369 133.178-184.548 133.178-124.363 0-160.726 100.363-160.726 193.453V503"
											></path><path
												d="M881 138c0 73-12.101 119.087-146.458 119.087-124.362 0-158.543 92.363-158.543 185.452V479"
											></path></g
										></g
									></g
								><defs
									><clipPath id="clip0_302_2944"
										><path
											fill="#fff"
											d="M0 0H800V419H0z"
											transform="matrix(-1 0 0 1 800 0)"
										></path></clipPath
									></defs
								></svg
							>
							<blockquote
								class="text-lg [text-wrap:balance] md:text-xl"
							>
								Improwised has been a lifesaver for our finance
								department. Its robust accounting features and
								automated invoicing have saved us countless
								hours of manual work. It's the perfect financial
								companion for any business!
							</blockquote>
						</Card.Header>

						<Card.Footer>
							<div class="mt-10 flex items-center gap-3">
								<div class="shrink-0">
									<Image
										src={photo6Image}
										class="h-12 w-12 rounded-full bg-slate-100 object-cover"
										alt="Sarah Martinez"
										loading="lazy"
										width="48"
										height="48"
										decoding="async"
									/>
								</div>
								<div>
									<h2 class="font-medium text-slate-800">
										Sarah Martinez
									</h2>
									<p class="text-sm text-slate-600">
										Finance Controller at MoneyMakers
									</p>
								</div>
							</div>
						</Card.Footer>
					</div>
				</Card.Root>
			</div>
		</div>
	</div>
</div>
