---
import Layout from "$lib/layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "$lib/consts";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { Badge } from "$lib/components/ui/badge";
import CTASection from "$lib/components/CTASection.astro";
import * as Card from "$lib/components/ui/card";

import CircleUserRound from "lucide-svelte/icons/circle-user-round";
import Linkedin from "lucide-svelte/icons/linkedin";
import Milestone from "lucide-svelte/icons/milestone";
import Accordion from "$lib/components/common/Accordion.svelte";
import CloudSun from "lucide-svelte/icons/cloud-sun";

import eventImage from "$lib/images/events/event.png";
import aboutus from "$lib/images/aboutusPage/main.png";
import aboutus2 from "$lib/images/aboutusPage/main2.png";
import aboutus3 from "$lib/images/aboutusPage/main3.png";
import person1 from "$lib/images/aboutusPage/person1.png";
import person2 from "$lib/images/aboutusPage/person2.png";
import bgicon1 from "$lib/images/aboutusPage/bgicon1.svg";
import bgicon2 from "$lib/images/aboutusPage/bgicon2.svg";
import bgicon3 from "$lib/images/aboutusPage/bgicon3.svg";
import bgicon4 from "$lib/images/aboutusPage/bgicon4.svg";
import bgicon5 from "$lib/images/aboutusPage/bgicon5.svg";
import bgicon6 from "$lib/images/aboutusPage/bgicon6.svg";

const peopleImages = [person1, person2];
const teams = await getCollection("teams");
let gradientX = 45.5;
let gradientY = -200;
const faqs = [
	{
		question: "Foster Strong Relationships",
		answer: "Building and maintaining robust relationships is at the heart of our approach. We foster a culture of trust, respect.",
	},
	{
		question: "Hire and Grow the Best",
		answer: "Building and maintaining robust relationships is at the heart of our approach. We foster a culture of trust, respect.",
	},
	{
		question: "Deliver, Have Fun, and Inspire",
		answer: "Building and maintaining robust relationships is at the heart of our approach. We foster a culture of trust, respect.",
	},
	{
		question: "Team over Individuals",
		answer: "Building and maintaining robust relationships is at the heart of our approach. We foster a culture of trust, respect.",
	},
];
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main class="main-content">
		<section
			class="section1 text-center bg-image h-screen relative flex flex-col items-center justify-center"
		>
			<!-- Main Heading -->
			<h1
				class="font-manrope mt-4 mb-6 max-md:text-center text-[56px] max-md:text-[30px] leading-[62px] max-md:leading-[42px] font-bold lg:tracking-tight"
			>
				Building Cool Stuff, Powered <br />By Even <span
					class="text-primary">Cooler People!</span
				>
			</h1>

			<!-- Subtext -->
			<p class="mt-4 text-para max-w-2xl mx-auto">
				At Improvised Technologies, our success stems from our people
				and values. We foster a dynamic, inclusive culture where ideas
				thrive.
			</p>
			<div
				class="absolute top-[-25.5%] right-[25.5%] h-full flex items-center justify-center move-animation max-md:hidden"
			>
				<Image
					src={bgicon1}
					alt="backgroundIcon"
					loading="lazy"
					decoding="async"
					class=""
					height={52}
				/>
			</div>
			<div
				class="absolute top-[5.5%] right-[15.5%] h-full flex items-center justify-center move-animation max-md:hidden"
			>
				<Image
					src={bgicon2}
					alt="backgroundIcon"
					loading="lazy"
					decoding="async"
					class=""
					height={52}
				/>
			</div>
			<div
				class="absolute top-[30.5%] right-[30.5%] h-full flex items-center justify-center move-animation max-md:hidden"
			>
				<Image
					src={bgicon3}
					alt="backgroundIcon"
					loading="lazy"
					decoding="async"
					class=""
					height={52}
				/>
			</div>
			<div
				class="absolute top-[-25.5%] left-[25.5%] h-full flex items-center justify-center move-animation max-md:hidden"
			>
				<Image
					src={bgicon4}
					alt="backgroundIcon"
					loading="lazy"
					decoding="async"
					class=""
					height={52}
				/>
			</div>
			<div
				class="absolute top-[5.5%] left-[15.5%] h-full flex items-center justify-center move-animation max-md:hidden"
			>
				<Image
					src={bgicon5}
					alt="backgroundIcon"
					loading="lazy"
					decoding="async"
					class=""
					height={52}
				/>
			</div>
			<div
				class="absolute top-[30.5%] left-[30.5%] h-full flex items-center justify-center move-animation max-md:hidden"
			>
				<Image
					src={bgicon6}
					alt="backgroundIcon"
					loading="lazy"
					decoding="async"
					class=""
					height={52}
				/>
			</div>
		</section>
		<section class="relative max-md:pt-20 pt-40 pb-20">
			<div class="container relative z-10">
				<div
					class="grid grid-cols-2 max-md:grid-cols-1 gap-16 mb-16 items-start relative"
				>
					<div class="relative max-md:order-2 max-md:text-center">
						<Badge
							class="border border-[#737373] rounded-full text-[#737373] mb-4 ring-gray-300 uppercase"
							variant="outline"
							><CircleUserRound
								width="16"
								height="16"
								class="mr-1 w-[16px]"
							/>About Us</Badge
						>
						<SectionTitle
							class=""
							text="Innovation and "
							primaryColorText="Growth Together"
						/>

						<div class="mt-10">
							<Accordion client:load {faqs} />
						</div>
					</div>

					<div class="relative max-md:order-1 aos-init aos-animate">
						<Image src={aboutus} alt="aboutUs" class="shadow-nav" />
					</div>
				</div>
			</div>
		</section>
		<section class="section aboutSection bg-image2 py-20">
			<div class="container mx-auto">
				<div class="flex flex-col items-center space-y-12">
					<Card.Root
						class="card-custom-primary2 shadow-nav text-left rounded-none!"
						onmousemove="updateGradient(event)"
						style={`--gradient-x: ${gradientX}px; --gradient-y: ${gradientY}px;`}
					>
						<div
							class="card-custom-inner-primary2"
							style={`--gradient-x: ${gradientX}px; --gradient-y: ${gradientY}px;`}
							onmousemove="updateGradient(event)"
						>
							<Card.Header class="flex flex-row space-x-4 pb-6">
								<span class="flex ml-3 group">
									{
										peopleImages.map((src, index) => (
											<Image
												src={src}
												alt={`Person ${index + 1}`}
												class="profile-img"
											/>
										))
									}
								</span>

								<Card.Title
									class="text-[24px] font-bold font-manrope leading-[30px]"
								>
									Rakshit and Shailesh<br />founding the
									company
								</Card.Title>
							</Card.Header>
						</div>
					</Card.Root>
				</div>
				<div
					class="relative flex flex-col lg:grid lg:grid-cols-2 lg:gap-x-16 pt-16"
				>
					<svg
						width="8"
						id="line"
						height="2213"
						viewBox="0 0 8 2213"
						fill="none"
						class="absolute max-md:hidden left-1/2 w-0.5 w-full h-[90%] transform -translate-x-1/2"
						xmlns="http://www.w3.org/2000/svg"
					>
						<rect width="8" height="2213" rx="4" fill="#F1F1F1"
						></rect>
					</svg>

					<div
						id="scrollling-dot0"
						class="left-1/2 max-md:hidden border-4 border-white bg-primary2 absolute h-4 w-4 top-0 -translate-x-1/2 -translate-y-1/2 rounded-full shadow-md"
					>
					</div>

					<div
						id="scroll-dot1"
						class="left-1/2 max-md:hidden border-4 border-white bg-primary2 absolute h-4 w-4 top-[8%] -translate-x-1/2 -translate-y-1/2 rounded-full shadow-md"
					>
					</div>

					<div
						id="scroll-dot2"
						class="left-1/2 max-md:hidden border-4 top-[20%] border-white bg-primary2 absolute h-4 w-4 -translate-x-1/2 -translate-y-1/2 rounded-full shadow-md"
					>
					</div>
					<div
						id="scroll-dot3"
						class="left-1/2 max-md:hidden border-4 top-[40%] border-white bg-primary2 absolute h-4 w-4 -translate-x-1/2 -translate-y-1/2 rounded-full shadow-md"
					>
					</div>
					<div
						id="scroll-dot4"
						class="left-1/2 max-md:hidden border-4 top-2/3 border-white bg-primary2 absolute h-4 w-4 -translate-x-1/2 -translate-y-1/2 rounded-full shadow-md"
					>
					</div>

					<div
						id="scroll-dot5"
						class="left-1/2 max-md:hidden border-4 border-white bg-primary2 absolute h-4 w-4 bottom-[10%] -translate-x-1/2 translate-y-1/2 rounded-full shadow-md"
					>
					</div>

					<!-- <div
						id="scroll-dot-year"
						class="left-[50%] absolute h-4 w-4 top-[8%] -translate-x-1/2 rounded-full shadow-md"
					>
					</div> -->
					<div
						id="scroll-dot-year"
						class="left-[52%] max-md:hidden w-20 flex flex-col items-center justify-center text-center rounded-full absolute top-[8%] bg-white -translate-x-1/2 -translate-y-1/2 shadow-md p-2"
					>
						<div class="flex items-center justify-center gap-2">
							<div
								class="border-4 border-white bg-primary2 h-4 w-4 rounded-full"
							>
							</div>
							<span class="text-primary2 font-semibold">2011</span
							>
						</div>
					</div>

					<!-- Timeline Marker -->

					<div
						class="relative flex flex-col items-end py-20 pt-96 pr-10 timeline-section1"
						id="section-1"
						data-dot="scroll-dot2"
					>
						<div class="flex flex-col items-end space-y-12">
							<Card.Root
								class="card-custom-primary2 shadow-nav text-left rounded-none!"
								onmousemove="updateGradient(event)"
								style={`--gradient-x: ${gradientX}px; --gradient-y: ${gradientY}px;`}
							>
								<div
									class="card-custom-inner-primary2"
									style={`--gradient-x: ${gradientX}px; --gradient-y: ${gradientY}px;`}
									onmousemove="updateGradient(event)"
								>
									<Card.Header
										class="flex flex-row space-x-4 pb-6"
									>
										<div
											class="icon-container flex h-16 w-16 items-center justify-center rounded-full bg-primary2 shadow-lg hover:shadow-xs"
										>
											<CloudSun
												width="24"
												height="24"
												class="h-6 w-6 shrink-0 transition-transform duration-200 text-white"
											/>
										</div>

										<Card.Title
											class="text-[24px] font-bold font-manrope leading-[30px]"
										>
											From Bugs to<br /> Brilliance, We Deliver.
										</Card.Title>
									</Card.Header>
								</div>
							</Card.Root>
						</div>
					</div>

					<div
						class="relative flex flex-col items-start py-20 pl-10 pt-96 timeline-section"
					>
						<div class="">
							<SectionTitle class="" text="Who We Are?" />
							<p
								class="my-5 max-w-2xl mx-auto max-md:text-center text-para"
							>
								Since 2011, Improwised Technologies has been at
								the forefront of IT innovation. We specialize in
								scalable, cloud-native development, driven by
								our mission to become a leading software firm.
							</p>
							<p
								class="my-5 max-w-2xl mx-auto max-md:text-center text-para"
							>
								Since then, we have worked tirelessly to achieve
								our objective of giving our customers and their
								products an edge with our expertise in
								cutting-edge technologies.
							</p>
						</div>
					</div>

					<div
						class="relative flex flex-col items-end py-20 pr-10 timeline-section2"
						id="section-2"
						data-dot="scroll-dot3"
					>
						<SectionTitle
							class=""
							text="From Humble Beginnings to Boundless Innovation"
						/>
						<p
							class="my-5 max-w-2xl mx-auto max-md:text-center text-para"
						>
							Since 2011, Improwised Technologies has been at the
							forefront of IT innovation. We specialize in
							scalable, cloud-native development, driven by our
							mission to become a leading software firm.
						</p>
						<p
							class="my-5 max-w-2xl mx-auto max-md:text-center text-para"
						>
							Since then, we have worked tirelessly to achieve our
							objective of giving our customers and their products
							an edge with our expertise in cutting-edge
							technologies.
						</p>
					</div>

					<div
						class="relative flex flex-col items-start py-20 pl-10 timeline-section"
					>
						<div class="">
							<Image src={aboutus2} alt="aboutus2" class="" />
						</div>
					</div>




					<div
						class="relative flex flex-col items-end py-20 pr-10 timeline-section3"
						id="section-3"
						data-dot="scroll-dot4"
					>
					<div class="">
						<Image src={aboutus3} alt="aboutus3" class="" />
					</div>

					</div>

					<div
						class="relative flex flex-col items-start py-20 pl-10 timeline-section"
					>
					<SectionTitle
					class=""
					text="The Road Ahead: Endless Possibilities!"
				/>
				<p
					class="my-5 max-w-2xl mx-auto max-md:text-center text-para"
				>
				Since 2011, Improwised Technologies has been at the forefront of IT innovation. We specialize in scalable, cloud-native development, driven by our mission to become a leading software firm.
				</p>
				<p
					class="my-5 max-w-2xl mx-auto max-md:text-center text-para"
				>
				Since then, we have worked tirelessly to achieve our objective of giving our customers and their products an edge with our expertise in cutting-edge technologies.
				</p>
					</div>

					<div
						class="relative flex flex-col items-end py-20 pr-10 timeline-section4"
						id="section-4"
						data-dot="scroll-dot4"
					>
						<div>
							<SectionTitle class="" text="Major Milestones" />
							<p
								class="my-5 max-w-2xl mx-auto max-md:text-center text-para"
							>
								Since 2011, Improwised Technologies has been at
								the forefront of IT innovation. We specialize in
								scalable, cloud-native development, driven by
								our mission to become a leading software firm.
							</p>
							<p
								class="my-5 max-w-2xl mx-auto max-md:text-center text-para"
							>
								Since then, we have worked tirelessly to achieve
								our objective of giving our customers and their
								products an edge with our expertise in
								cutting-edge technologies.
							</p>
						</div>
					</div>




					<div class="relative flex flex-col items-start py-20 pl-10">
						<div class="flex flex-col items-end space-y-12">
							<Card.Root
								class="card-custom-primary2 shadow-nav text-left rounded-none!"
								onmousemove="updateGradient(event)"
								style={`--gradient-x: ${gradientX}px; --gradient-y: ${gradientY}px;`}
							>
								<div
									class="card-custom-inner-primary2"
									style={`--gradient-x: ${gradientX}px; --gradient-y: ${gradientY}px;`}
									onmousemove="updateGradient(event)"
								>
									<Card.Header
										class="flex flex-row space-x-4 pb-6"
									>
										<div
											class="icon-container flex h-16 w-16 items-center justify-center rounded-full bg-primary2 shadow-lg hover:shadow-xs"
										>
											<Milestone
												width="24"
												height="24"
												class="h-6 w-6 shrink-0 transition-transform duration-200 text-white"
											/>
										</div>

										<Card.Title
											class="text-[24px] font-bold font-manrope leading-[30px]"
										>
											Milestones That <br />Made Us Shine!
										</Card.Title>
									</Card.Header>
								</div>
							</Card.Root>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section bg-white overflow-hidden relative pt-20 pb-20">
			<svg
				viewBox="0 0 1440 181"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				class="absolute inset-x-0 top-0 w-full block"
				data-v-baf90ddd=""
				><mask id="path-1-inside-1_1086_7239" fill="white"
					><path d="M0 0H1440V181H0V0Z"></path></mask
				><path
					d="M0 0H1440V181H0V0Z"
					fill="url(#paint0_linear_1086_7239)"
					fill-opacity="0.22"></path><path
					d="M0 2H1440V-2H0V2Z"
					fill="url(#paint1_linear_1086_7239)"
					mask="url(#path-1-inside-1_1086_7239)"></path><defs
					><linearGradient
						id="paint0_linear_1086_7239"
						x1="720"
						y1="0"
						x2="720"
						y2="181"
						gradientUnits="userSpaceOnUse"
						><stop stop-color="#00afdb"></stop><stop
							offset="1"
							stop-color="#00afdb"
							stop-opacity="0"></stop></linearGradient
					><linearGradient
						id="paint1_linear_1086_7239"
						x1="0"
						y1="90.5"
						x2="1440"
						y2="90.5"
						gradientUnits="userSpaceOnUse"
						><stop stop-color="#00afdb" stop-opacity="0"
						></stop><stop offset="0.395" stop-color="#00afdb"
						></stop><stop
							offset="1"
							stop-color="#00afdb"
							stop-opacity="0"></stop></linearGradient
					></defs
				></svg
			>
			<div class="">
				<div
					class="mb-12 text-center mx-auto flex max-w-3xl flex-col items-center justify-center"
				>
					<Badge
						class="border border-[#737373] rounded-full text-[#737373] mb-4 ring-gray-300 uppercase"
						variant="outline"
						><CircleUserRound
							width="16"
							height="16"
							class="mr-1 w-[16px]"
						/>About Us</Badge
					>
					<SectionTitle
						text="Insights & "
						primaryColorText="Inspiration"
					/>
				</div>

				<div class="relative overflow-x-clip">
					<div class="group relative gap-8 overflow-hidden md:flex">
						<div
							class="eventsection1 flex w-auto min-w-full shrink-0 snap-x snap-mandatory flex-nowrap items-stretch gap-10 overflow-x-auto px-5 py-5"
						>
							<Card.Root
								class="eventCard1 relative bg-white md:motion-safe:animate-marquee-reverse flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
							>
								<div
									class="flex gap-6 p-6 rounded-lg shadow-md"
								>
									<!-- Image Section -->
									<div class="shrink-0">
										<Image
											src={eventImage}
											class="h-60 w-60 object-cover"
											alt="cubecon 2024"
											loading="lazy"
											decoding="async"
										/>
									</div>
									<!-- Right Side Content -->
									<div class="flex flex-col justify-between">
										<!-- Testimonial Content -->
										<blockquote
											class="text-lg text-gray-800 md:text-xl"
										>
											“My coworkers continually surprise
											me with their creativity,
											dedication, and raw talent. Working
											here means working with the best.”
										</blockquote>
										<!-- User Info -->
										<div class="mt-6">
											<h2
												class="font-semibold text-gray-900"
											>
												Cubecon 2024
											</h2>
											<p class="text-sm text-gray-600">
												23 December 2024
											</p>
										</div>
									</div>
								</div>
							</Card.Root>
							<Card.Root
								class="eventCard1 bg-white md:motion-safe:animate-marquee-reverse relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
							>
								<div
									class="flex gap-6 p-6 rounded-lg shadow-md"
								>
									<!-- Image Section -->
									<div class="shrink-0">
										<Image
											src={eventImage}
											class="h-60 w-60 object-cover"
											alt="cubecon 2024"
											loading="lazy"
											decoding="async"
										/>
									</div>
									<!-- Right Side Content -->
									<div class="flex flex-col justify-between">
										<!-- Testimonial Content -->
										<blockquote
											class="text-lg text-gray-800 md:text-xl"
										>
											“My coworkers continually surprise
											me with their creativity,
											dedication, and raw talent. Working
											here means working with the best.”
										</blockquote>
										<!-- User Info -->
										<div class="mt-6">
											<h2
												class="font-semibold text-gray-900"
											>
												Cubecon 2024
											</h2>
											<p class="text-sm text-gray-600">
												23 December 2024
											</p>
										</div>
									</div>
								</div>
							</Card.Root>
							<Card.Root
								class="eventCard1 bg-white md:motion-safe:animate-marquee-reverse relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
							>
								<div
									class="flex gap-6 p-6 rounded-lg shadow-md"
								>
									<!-- Image Section -->
									<div class="shrink-0">
										<Image
											src={eventImage}
											class="h-60 w-60 object-cover"
											alt="cubecon 2024"
											loading="lazy"
											decoding="async"
										/>
									</div>
									<!-- Right Side Content -->
									<div class="flex flex-col justify-between">
										<!-- Testimonial Content -->
										<blockquote
											class="text-lg text-gray-800 md:text-xl"
										>
											“My coworkers continually surprise
											me with their creativity,
											dedication, and raw talent. Working
											here means working with the best.”
										</blockquote>
										<!-- User Info -->
										<div class="mt-6">
											<h2
												class="font-semibold text-gray-900"
											>
												Cubecon 2024
											</h2>
											<p class="text-sm text-gray-600">
												23 December 2024
											</p>
										</div>
									</div>
								</div>
							</Card.Root>
							<Card.Root
								class="eventCard1 bg-white md:motion-safe:animate-marquee-reverse relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
							>
								<div
									class="flex gap-6 p-6 rounded-lg shadow-md"
								>
									<!-- Image Section -->
									<div class="shrink-0">
										<Image
											src={eventImage}
											class="h-60 w-60 object-cover"
											alt="cubecon 2024"
											loading="lazy"
											decoding="async"
										/>
									</div>
									<!-- Right Side Content -->
									<div class="flex flex-col justify-between">
										<!-- Testimonial Content -->
										<blockquote
											class="text-lg text-gray-800 md:text-xl"
										>
											“My coworkers continually surprise
											me with their creativity,
											dedication, and raw talent. Working
											here means working with the best.”
										</blockquote>
										<!-- User Info -->
										<div class="mt-6">
											<h2
												class="font-semibold text-gray-900"
											>
												Cubecon 2024
											</h2>
											<p class="text-sm text-gray-600">
												23 December 2024
											</p>
										</div>
									</div>
								</div>
							</Card.Root>
						</div>
					</div>
					<div
						class="group relative gap-8 overflow-hidden pb-5 md:flex"
					>
						<div
							class="eventsection2 flex w-auto min-w-full shrink-0 snap-x snap-mandatory flex-nowrap items-stretch gap-10 overflow-x-auto px-5 py-5"
						>
							<Card.Root
								class="eventCard2 bg-white md:motion-safe:animate-marquee relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
							>
								<div
									class="flex gap-6 p-6 rounded-lg shadow-md"
								>
									<!-- Image Section -->
									<div class="shrink-0">
										<Image
											src={eventImage}
											class="h-60 w-60 object-cover"
											alt="cubecon 2024"
											loading="lazy"
											decoding="async"
										/>
									</div>
									<!-- Right Side Content -->
									<div class="flex flex-col justify-between">
										<!-- Testimonial Content -->
										<blockquote
											class="text-lg text-gray-800 md:text-xl"
										>
											“My coworkers continually surprise
											me with their creativity,
											dedication, and raw talent. Working
											here means working with the best.”
										</blockquote>
										<!-- User Info -->
										<div class="mt-6">
											<h2
												class="font-semibold text-gray-900"
											>
												Cubecon 2024
											</h2>
											<p class="text-sm text-gray-600">
												23 December 2024
											</p>
										</div>
									</div>
								</div>
							</Card.Root>
							<Card.Root
								class="eventCard2 bg-white md:motion-safe:animate-marquee relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
							>
								<div
									class="flex gap-6 p-6 rounded-lg shadow-md"
								>
									<!-- Image Section -->
									<div class="shrink-0">
										<Image
											src={eventImage}
											class="h-60 w-60 object-cover"
											alt="cubecon 2024"
											loading="lazy"
											decoding="async"
										/>
									</div>
									<!-- Right Side Content -->
									<div class="flex flex-col justify-between">
										<!-- Testimonial Content -->
										<blockquote
											class="text-lg text-gray-800 md:text-xl"
										>
											“My coworkers continually surprise
											me with their creativity,
											dedication, and raw talent. Working
											here means working with the best.”
										</blockquote>
										<!-- User Info -->
										<div class="mt-6">
											<h2
												class="font-semibold text-gray-900"
											>
												Cubecon 2024
											</h2>
											<p class="text-sm text-gray-600">
												23 December 2024
											</p>
										</div>
									</div>
								</div>
							</Card.Root>
							<Card.Root
								class="eventCard2 bg-white md:motion-safe:animate-marquee relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
							>
								<div
									class="flex gap-6 p-6 rounded-lg shadow-md"
								>
									<!-- Image Section -->
									<div class="shrink-0">
										<Image
											src={eventImage}
											class="h-60 w-60 object-cover"
											alt="cubecon 2024"
											loading="lazy"
											decoding="async"
										/>
									</div>
									<!-- Right Side Content -->
									<div class="flex flex-col justify-between">
										<!-- Testimonial Content -->
										<blockquote
											class="text-lg text-gray-800 md:text-xl"
										>
											“My coworkers continually surprise
											me with their creativity,
											dedication, and raw talent. Working
											here means working with the best.”
										</blockquote>
										<!-- User Info -->
										<div class="mt-6">
											<h2
												class="font-semibold text-gray-900"
											>
												Cubecon 2024
											</h2>
											<p class="text-sm text-gray-600">
												23 December 2024
											</p>
										</div>
									</div>
								</div>
							</Card.Root>
							<Card.Root
								class="eventCard2 bg-white md:motion-safe:animate-marquee relative flex max-w-2xl shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between transition-all hover:shadow-lg"
							>
								<div
									class="flex gap-6 p-6 rounded-lg shadow-md"
								>
									<!-- Image Section -->
									<div class="shrink-0">
										<Image
											src={eventImage}
											class="h-60 w-60 object-cover"
											alt="cubecon 2024"
											loading="lazy"
											decoding="async"
										/>
									</div>
									<!-- Right Side Content -->
									<div class="flex flex-col justify-between">
										<!-- Testimonial Content -->
										<blockquote
											class="text-lg text-gray-800 md:text-xl"
										>
											“My coworkers continually surprise
											me with their creativity,
											dedication, and raw talent. Working
											here means working with the best.”
										</blockquote>
										<!-- User Info -->
										<div class="mt-6">
											<h2
												class="font-semibold text-gray-900"
											>
												Cubecon 2024
											</h2>
											<p class="text-sm text-gray-600">
												23 December 2024
											</p>
										</div>
									</div>
								</div>
							</Card.Root>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="pt-20 pb-40 section">
			<div class="px-20">
				<div
					class="mb-12 text-center mx-auto flex max-w-3xl flex-col items-center justify-center"
				>
					<Badge
						class="border border-[#737373] rounded-full text-[#737373] mb-4 ring-gray-300 uppercase"
						variant="outline"
						><CircleUserRound class="mr-1 w-[16px]" />Our Team</Badge
					>
					<SectionTitle text="Meet" primaryColorText=" Our Team" />
				</div>
				<div class="relative z-10">
					<div
						class="grid grid-cols-4 max-md:grid-cols-1 max-lg:grid-cols-2 gap-8"
					>
						{
							teams.map((team, index) => (
								<>
									<Card.Root class="shadow-nav transition-all duration-500 group hover:[scale:1.1]">
										<div
											class:list={{
												"transition-all duration-500 [transform-style:preserve-3d]": true,
												"group-hover:[transform:rotateY(180deg)]":
													team.data.desc,
											}}
										>
											<div class="[backface-visibility:hidden]">
												<Card.Header class="p-0">
													<Image
														alt="feature"
														class="w-full rounded-lg grayscale hover:grayscale-0 transition duration-300"
														src={team.data.image}
													/>
												</Card.Header>
											</div>

											{team.data.desc !== "" && (
												<div class="absolute inset-0  py-6 px-2 text-left  [transform:rotateY(180deg)] [backface-visibility:hidden]">
													<Card.Header>
														<p class="text-para max-md:text-[12px]">
															{team.data.desc}
														</p>
													</Card.Header>
												</div>
											)}
										</div>
										<Card.Content>
											<div class="flex justify-between">
												<Card.Title class="text-[20px]">
													{team.data.name}

													<p class="text-sm  font-normal">
														{team.data.designation}
													</p>
												</Card.Title>

												{team.data.linkedin && (
													<a
														href={
															team.data.linkedin
														}
														target="_blank"
														rel="noopener noreferrer"
														class="text-gray-600 hover:text-primary"
													>
														<Linkedin
															width="16"
															height="16"
															astro-icon="social/linkedin"
														/>
													</a>
												)}
											</div>
										</Card.Content>
									</Card.Root>
								</>
							))
						}
					</div>
				</div>
			</div>
		</section>
		<CTASection />
	</main>


</Layout>
<style>
	@reference "tailwindcss";
	.bg-image {
		background-image: url("../images/aboutusPage/bg-aboutus.svg"),
			url("../images/aboutusPage/pattern-aboutus.svg");
		background-size: cover, cover;
		background-position: center, center;
		background-repeat: no-repeat, no-repeat;
	}
	.bg-image2 {
		background-image: url("../images/aboutusPage/gardient.svg"),
			url("../images/aboutusPage/dots.svg");
		background-size: cover, cover;
		background-position: center, center;
		background-repeat: no-repeat, no-repeat;
	}
	.profile-img {
		@apply w-16 h-16 rounded-full -ml-3 transition-all duration-300 ring-2 ring-white;
	}

	.profile-img:hover {
		@apply scale-125 z-10 ring-sky-200;
	}

	#scroll-dot-year {
		transition: top 0.3s ease-in-out;
		box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
	}
</style>
<script is:inline>
	// Function to update gradient position
	function updateGradient(event) {
		const rect = event.currentTarget.getBoundingClientRect();
		gradientX = event.clientX - rect.left;
		gradientY = event.clientY - rect.top;

		// Update the style dynamically
		const target = event.currentTarget;
		target.style.setProperty("--gradient-x", `${gradientX}px`);
		target.style.setProperty("--gradient-y", `${gradientY}px`);
	}

	// document.addEventListener("DOMContentLoaded", function () {
	// 	const yearMarker = document.getElementById("scroll-dot-year");
	// 	const scrollDots = document.querySelectorAll("[id^=scroll-dot]"); // Select all dots

	// 	const observer = new IntersectionObserver(
	// 		(entries) => {
	// 			entries.forEach((entry) => {
	// 				if (entry.isIntersecting) {
	// 					const targetTop = entry.target.offsetTop;
	// 					yearMarker.style.top = `${targetTop}px`; // Move the year marker
	// 				}
	// 			});
	// 		},
	// 		{
	// 			root: null, // Uses viewport
	// 			threshold: 0.5, // 50% of element must be visible
	// 		},
	// 	);

	// 	scrollDots.forEach((dot) => observer.observe(dot));
	// });
	document.addEventListener("DOMContentLoaded", function () {
		const yearMarker = document.getElementById("scroll-dot-year");
		const scrollDots = document.querySelectorAll("[id^=scroll-dot]"); // Select all dots
		const timelineLine = document.getElementById("line"); // Timeline line
		const totalHeight = timelineLine.getBoundingClientRect().height; // Get total height of line

		// Create a green progress rect
		const progressRect = document.createElementNS(
			"http://www.w3.org/2000/svg",
			"rect",
		);
		progressRect.setAttribute("width", "8"); // Match original width
		progressRect.setAttribute("rx", "4");
		progressRect.setAttribute("fill", "#6eb24a"); // Green color
		progressRect.setAttribute("height", "0"); // Start with no fill
		timelineLine.appendChild(progressRect);

		const observer = new IntersectionObserver(
			(entries) => {
				entries.forEach((entry, index) => {
					if (entry.isIntersecting) {
						const targetTop = entry.target.offsetTop;
						yearMarker.style.top = `${targetTop}px`; // Move the year marker

						// Calculate fill percentage basedteams on scroll
						let scrollPercent = (targetTop / totalHeight) * 100;
						progressRect.setAttribute(
							"height",
							`${scrollPercent}%`,
						); // Fill the line
					}
				});
			},
			{
				root: null, // Uses viewport
				threshold: 0.5, // 50% of element must be visible
			},
		);

		scrollDots.forEach((dot) => observer.observe(dot));
	});

</script>
