---
import Layout from "$lib/layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION, BASE_URL } from "$lib/consts";
import { Badge } from "$lib/components/ui/badge";
import { Image } from "astro:assets";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { getCollection } from "astro:content";
const casestudies = await getCollection("casestudies");
import * as Card from "$lib/components/ui/card";
import { Button } from "$lib/components/ui/button";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main class="main-content ">
        <section class="py-32 section ">
            <div class="container">
                <div class="relative mb-16 text-center ">
                    <Badge
                        class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
                        variant="outline">Case Studies</Badge
                    >
                    <SectionTitle class=""
                        text="Real-World"  primaryColorText="Success Stories" />

                    <p
                        class="text-lg mb-10 max-w-2xl mx-auto max-md:text-center"
                        data-aos="fade-up"
                    >
                    Explore how our expertise turns challenges into opportunities, delivering impactful results through innovative solutions.
                    </p>
                </div>
                <div class="relative z-10">
                    <div
                        class="absolute left-1/2 top-60 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden"
                    >
                        <div
                            class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/20 blur-[145px]"
                        >
                        </div>
                        <div
                            class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
                        >
                        </div>
                        <div
                            class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
                        >
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-3 max-md:grid-cols-1 max-lg:grid-cols-2 gap-8"
                    >
                        {
                            casestudies.map((casestudy, index) => (
                                <>
                                    <Card.Root class="shadow-nav">
                                        <div class="">
                                            <Card.Header class="p-0 pr-12 pl-12 pt-12 bg-gradient-radial-dark">
                                                <Image
                                                    alt="feature"
                                                    class="w-full"
                                                    src={casestudy.data.image}
                                                />
                                            </Card.Header>
                                            <Card.Content>

                                                <Card.Title class="text-[20px]">
                                                    {casestudy.data.title}
                                                    {/* <a
                                                        href={
                                                            BASE_URL +
                                                            "/blogs/" +
                                                            blog.data.slug
                                                        }
                                                    >
                                                        {blog.data.title}
                                                    </a> */}
                                                </Card.Title>
                                                <p>{casestudy.data.description}</p>

                                            </Card.Content>
                                            <Card.Footer class="flex justify-between">
    <Button variant="outline" class="w-full">Read More</Button>

  </Card.Footer>


                                        </div>
                                    </Card.Root>
                                </>
                            ))
                        }
                    </div>
                </div>
            </div>
        </section>

    </main>
</Layout>
